[2019-03-12 13:25] GLuanVargas commented on #271
Hello,
I need the same format, while it doesn't possible with react-number-format I'm using an alternative solution. When the input name is the value that needs to be formatted I'm using this function to format the value.

`var v = event.target.value.replace(/\D/g, '');
      if (v.length > 6) {
        this.openSnackBar('Valor informado muito alto.', 'error')
        return false;
      }
      v

[2019-03-12 14:51] kendallb commented on #271
Excellent, thanks for the suggestion! It would be really nice if the library supported this with an option.

[2019-03-13 08:16] resobyte commented on #189
<NumberFormat
              id="numberFormat"
              decimalSeparator=","
              thousandSeparator="."
              inputMode="decimal"
              pattern="[0-9]*" .../>

I used this code.

Android device screenshot:
<img width="277" alt="Screen Shot 2019-03-13 at 11 02 33" src="https://user-images.githubusercontent.com/17431441/54262565-866d8b80-457f-11e9-9b60-5a4e7a6b991a.png">

[2019-03-14 14:59] sibelius opened #292 "does it make sense provide a hooks api?"
I think this could be a hook api

`useNumberFormat`, that provide all functionally to make it work in any kind of input

[2019-03-14 22:41] Cadburylion opened #293 "onFocus={event => event.target.select()} introduces infinite loop bug"
If you click on a NumberFormat component that has the property onFocus={event => event.target.select()} to set focus on its contents, then click out of the browser (on another screen, or in the developer console, etc.), then click another NumberFormat component that also has onFocus={event => event.target.select()}, an infinite loop occurs where both inputs constantly set themselves as the focus.

[2019-03-15 03:18] Cadburylion commented on #293
I seem to have worked around this bug by adding onBlur={event => event.target.blur()} to my NumberFormat component as well.

[2019-03-17 15:01] #289 closed

[2019-03-17 15:24] s-yadav commented on #292
There will be little issue with that. Right now the NumberFormat proxy input events, onChange, onFocus, onKeyDown etc. Also it has lot of props, with useNumberFormat you will have to pass all to the hook like this.

[code]

In above example you can not do
[code]

And passing event handlers as object looks little off.
In most of the case NumberFormat is used directly. For customizing the input we c

[2019-03-18 18:51] mehranabi opened #294 "RTL Problem"
Hey, Thanks for this amazing library...
In a part of my app, I'm using NumberFormat to format Iranian Card Number which is a 16-digit number, separated 4 by 4 - like "1234-5678-9012-3456"...
But when I use this library in RTL mode, I get reverse of that number like: "3456-9012-5678-1234".
Check out these screenshots:
![Sketch (5)](https://user-images.githubusercontent.com/30838541/54555241-8af4d28

[2019-03-18 21:19] Cadburylion commented on #293
My workaround does prevent the bug I was initially encountering, but the underlying issue remains, and it manifests if you tab very quickly through a series of react-number-format inputs. Doing so will cause an infinite loop where the affected inputs constantly vie for focus.

[2019-03-19 07:20] TkDodo commented on #289
Thanks a lot for fixing this 🙏 ! When can we expect release 4.0.7?

[2019-03-19 11:48] cescoferraro opened #295 "customInputProps with Typescript"
[code]

I am using material-ui TextField input as a customInput. Problem is that I need to pass it some other props like disableUnderline, but this prop does not exist on NumberFormat  and it makes the typescript compiles scream, although it works!

[code]

[2019-03-19 12:59] cescoferraro commented on #295
I forked it and the following works for me
https://github.com/s-yadav/react-number-format/compare/master...cescoferraro:master
but I am afraid there is no typescript way of solving this without creating an extra prop.
Material-ui itself does that by proving an InputProps props so you can pass props to the native element
https://material-ui.com/api/text-field/

[2019-03-19 18:28] s-yadav commented on #289
In npm it was already there. Added it on releases as well.

[2019-03-20 20:59] thegoldenmule commented on #17
I have the same issue as @baran10. Using @questionablequestion & @DrJid 's method I see the control but the caret is stuck at the end. I cannot backspace anything other than the last character. Are there caret settings I am missing?

[2019-03-21 12:12] benfluleck commented on #289
I was just going to ask a question about this 😄

[2019-03-21 13:15] ferdinandsalis commented on #272
I am getting the same warning.

[2019-03-24 16:33] ben1one opened #296 "Should add input max length"

[2019-03-25 09:30] mifas commented on #94
If you're using custom Input, There is an easy way without using `findDOMNode`
[code]

https://codesandbox.io/s/n4pw697pr4

[2019-03-25 22:14] Robfz commented on #295
We have the same use case as @cescoferraro, a `customInputProps` prop would be nice.

Our current workaround is:

[code]

[2019-03-27 08:33] harry-sm commented on #272
I am too.

[2019-03-28 06:20] marknguyen85 commented on #189
same with you.

[2019-04-01 05:01] s-yadav commented on #296
maxLength is already supported as all the props are passed down to actual input element, all the input props are supported.
Note: maxLength value should accommodate format characters length as well.

I could probably add a new prop called maxNumericLength, so we don't break the react-number-format which is using native maxLength.

[2019-04-01 05:57] s-yadav commented on #293
@Cadburylion . Thanks for reporting. I cannot reproduce the issue on the codepen you have provided following the mentioned steps.
Is this on a specific browser? I tried it on chrome.

[2019-04-01 05:59] rsilvamanayalle commented on #264
I don't know if this a pretty solution, but it work well for me...

[code]

[2019-04-03 15:11] maxdonetsk opened #297 "Allow to support percentage sign (%) as suffix property."
I want to use '%' as ```suffix``` prop, but it multiplies value by 0.01 and returns it in the input:
[code]
So if I want to see 100% as a value in the input, I'll receive 0.01%.

[2019-04-04 17:32] tylerolechnowicz opened #298 "Not Able to Type Decimal Point, the Formatting of this Component Erases it"
I am trying to use this component in React Native. I am trying to format user input as currency, and this component works great with whole numbers! But for some reason when I try to type in a decimal '.' to enter a floating point number, it deletes the decimal. I am currently only able to enter whole numbers.

Below is my code. Any help would be greatly appreciated!

[code]
`
handleChange = amount

[2019-04-05 06:41] pederklev opened #299 "Allow ignoring separators when using arrow keys, backspace, delete, etc"
It would be nice to have a mode for ignoring the separators when editing text inside the input.

As a user writing into the input I've never entered any separators myself, so I don't expect having to take them into account when navigating through the characters with arrow keys, or erasing. Especially when erasing, you are pressing a key dedicated to removing characters from the input. It is unexpe

[2019-04-05 22:03] larissa-n opened #300 "[object Object]"
<img width="502" alt="Screen Shot 2019-04-05 at 5 55 23 PM" src="https://user-images.githubusercontent.com/37840830/55658563-1348e500-57cc-11e9-8e3c-e19b75388692.png">

Component is generating [object Object] opposed to a number.

My code:
[code]

[2019-04-05 22:33] larissa-n commented on #300
This worked:
`<NumberFormat value={this.state.result.filter(result => "Total" === result.name).map(result => result.value)[0]} displayType={'text'} thousandSeparator={true} />`

[2019-04-05 22:33] #300 closed

[2019-04-06 08:20] mosijava commented on #189
[here](https://caniuse.com/#feat=input-inputmode) you can see unfortunately Firefox doesn't support "inputmode" attribute.

[2019-04-07 20:52] larissa-n opened #301 "Formatting small numbers"
Using settings `displayType={'text'}  thousandSeparator={true}  decimalScale={3}` to round numbers. Some of the numbers generated by my function were very close to zero.
Some examples:
`0.0002128` -- > `0` (great!)
`-0.000231`  --> `-0` (what's -0 ?)
`-7.9472e-8` --> `-7` (does it not read exp?)

[2019-04-07 21:34] larissa-n commented on #301
Temporary solution that works is
value = parseFloat(value.toFixed(9));
But I think this should be handled by the number-format component.

[2019-04-14 00:07] morloy commented on #277
I think I found a workaround by using
[code]

This briefly switches the component to uncontrolled if there’s now valid input and breaks the infinite loop.

[2019-04-15 20:24] wesleyguirra commented on #277
For me the problema is happening when I set name and value at onChange key:

[code]

[2019-04-15 22:10] marlonmleite commented on #197
@s-yadav any position for this? I need this feature

[2019-04-17 03:27] godon019 commented on #276
I have the same issue with material-ui example
[code]
this doesn't work as intended

[2019-04-21 15:32] blaiprat commented on #272
Had the same issue, but after changing the prop to a function wrapper seems to be workign as expecteed. The code that works:
[code]

[2019-04-21 18:18] harry-sm commented on #272
@blaiprat
Tried that too same issue, after the first keystroke it fails.

[2019-04-22 05:50] FMCorz opened #303 "[UX] Starting with '-' for decimal values sets field to 0"
Negative numbers do not _seem_ supported as the negative sign does not display for an empty field.

[code]

1. Select the content of the input
2. Press the `-` key

- Expected: The field displays `-`
- Actual: The field displays `0`

A user would expect the field to display the minus sign and wait for the rest of the number, setting the value to 0 makes it seem like negative numbers are not suppor

[2019-04-22 05:59] FMCorz commented on #303
Well, I don't know what I did but it seems to be working now. Would you have any idea what caused the above? The only difference I have in my production code is an `isAllowed` property checking whether the number is within the min and max values, when set. And they're not set.

[2019-04-22 08:30] Ashish1857 opened #304 "onValueChange is not working for me !!"
renderAllocationPercentage = cellInfo => {
    let divisionSubDivision = this.state.divisionSubDivision;
    return (
      <div className="allocationPercentage">
        <NumberFormat
         header=""
         suffix=" %"
         decimalSeparator={this.props.decimalSeparator}
         value={divisionSubDivision[cellInfo.index].formattedAllocationPercentage}
         onValueChange={this.onChang

[2019-04-22 09:16] #304 closed

[2019-04-23 07:50] blaiprat commented on #272
In the end, I approached this in another way, by instead creating the styled components definition using NumberFormat this way. This allows to customise it and works as expected

[code]

[2019-04-23 13:48] hexmar opened #305 "Remove declare from number format typings"
https://github.com/s-yadav/react-number-format/blob/6a1113ff90ba69e479ec2b9902799f1ab2e69082/typings/number_format.d.ts#L4
Because of this `declare` I can use `value` variable anywhere in my project and typescript compiles it. But in runtime it fails with `Uncaught ReferenceError: value is not defined`.

[2019-04-24 10:02] shipcake opened #306 "how to show always decimal."
hi. i hope to render sample number [22.15 , 22] >> render [22.15 , 22.00]

thank.

[2019-05-02 19:27] questionablequestion opened #307 "Input losing focus when using customInput"
Hey, my issue is related to #233. Lets say I have LoginForm.tsx and TextInput.tsx

LoginForm.tsx
[code]

TextInput.tsx
[code]

So I have custom props that I would like to pass down from LoginForm to input that has been used in NumberFormat as customInput. Using it like this, it would lose focus on each value change. If I move custom input above like in #233, it works okay but I can't access props

[2019-05-02 19:35] questionablequestion commented on #307
Okay, I should probably take a look at the source code before asking 😄 All I had to do is pass those props directly as `<NumberFormat {...props} />` and it will be passed down to my custom input.

[2019-05-02 19:35] #307 closed

[2019-05-03 13:51] Gonusi opened #308 "No update when decimal part of value prop (a long, numeric string) is changed"
To reproduce on my machine running chrome:
1) Pass a long numeric string as value prop: `123456789.123456789 `
2) Pass an even longer numeric string as value prop: `123456789.1234567890123456789`

Expected: onValueChange called with `value` and `formattedValue` strings having values of `123456789.1234567890123456789` and its formatted alternative.

What happens: onValueChange not called, component

[2019-05-08 10:32] Ashish1857 opened #309 "How to restrict the length of character in the text field?"
How to restrict the length of character in the text field?

[2019-05-08 10:41] Ashish1857 commented on #297
for me it worked fine

[2019-05-09 03:22] jmdsg opened #310 "PropTypes warning when using customInput as forwardRef or memo"
The field customInput throws a proptype warning when the component passed uses `React.forwardRef` (e.g. material ui's v4 `TextField`) or `React.memo`, because those are objects not functions.

_Failed prop type: Invalid prop `customInput` of type `object` supplied to `NumberFormat`, expected `function`._

You can use `PropTypes.elementType` is you are planning to use `PropTypes >= 15.7.0`.

[2019-05-09 08:47] acywu opened #311 "Focus is moved unexpectedly from field A to B when using suffix"
When attempting to select the content of a Field A (mousedown) and releasing the mouse button on a Field B (mouseup), the focus is moved from field A to B.

### Link:
Able to reproduce in https://codepen.io/anon/pen/OYMXPQ

### Step to reproduce:
Try to select the text of the **Field A** with the mouse
Release the mouse button on the **Field B**
=> The focus jumps from Field A to Field B
=> This i

[2019-05-09 19:37] RavenousPett opened #312 "Add support for type 'number'"
I.e. so the input type = 'number'

Allowing the number keyboard to show on mobile:

![IMG_5360](https://user-images.githubusercontent.com/4006938/57481526-3c143c80-729a-11e9-8300-bd1a78ce9a37.jpg)

[2019-05-11 20:01] alextiley commented on #272
I have created a pull request which fixes this - the `function` prop-type is not quite correct and can now be replaced with `PropTypes.elementType`. As a temporary workaround it's possible to suppress the prop-type warning by wrapping your styled-component in a class component, e.g:

[code]

This is not ideal but is another solution for those who stumble upon this.

[2019-05-12 07:52] #272 closed

[2019-05-12 10:00] yzalvov commented on #277
`if (oldValue === newValue) return` before updating a state inside `onValueChange` helped me.

[2019-05-14 06:19] #310 closed

[2019-05-14 15:33] jesperlehtinen commented on #309
To restrict the input at a value (for amounts) we use the `isAllowed` property:
`isAllowed={values => values.formattedValue === '' || values.floatValue <= 9999999999.99}`

[2019-05-14 15:33] jesperlehtinen commented on #306
Pass props `fixedDecimalScale={true}` and `decimalScale={2}`

[2019-05-17 12:24] alexleite commented on #277
For my component, I don't call the onChange from the onValueChange. I created a internal state to change the value then to call the onChange, that solve my problem.

You can see the code below.

[code]

[2019-05-20 18:57] SamKirkland commented on #312
I would also like this!

However word of caution setting type="number" might cause a lot of problems.
See: http://bradfrost.com/blog/post/you-probably-dont-need-input-typenumber/

Setting inputmode for modern browser and falling back to the pattern attribute would show a number keyboard on mobile devices without the usability issues of type="number"

[2019-05-21 10:00] ys3000 opened #314 "sign of exponent is formatted incorrectly"
The number gets formatted incorrectly when using the exponential notation and small values (< 1e-7). This happens for numeric inputs, and also for string inputs in exponential notation.

the values
1e-15
0.000000000000001
"1e-15"
"0.000000000000001"

Will be formatted as
1e15
1e15
1e15
0.000000000000001

Expected formatted value:
1e-15
1e-15
1e-15
0.000000000000001

see
https://codepen.io/anon/pen

[2019-05-21 16:15] andreawyss opened #315 "Code error at line 246"
line 246
      const maskAsStr = mask === 'string' ? mask : mask.toString();

must probably be:
      const maskAsStr = typeof mask === 'string' ? mask : mask.toString();

[2019-05-27 18:29] samthomson opened #316 "empty value not evaluating to default as expected"
If I change the text input to be blank, I expect the value to be what I set the default value to. But it is undefined?
How can I achieve my intended behavior? I would like that when the user clears the text input, it sets the value of `0` to my local `nMinSpread` variable.

![image](https://user-images.githubusercontent.com/6588340/58434835-2e89ef80-80ad-11e9-8cb8-427b2e68bd65.png)

[2019-05-29 20:47] goskan93 commented on #17
An I have the same issue as @thegoldenmule .

My component looks like this

`

     <NumberFormat
            value={information.areasecure!= null ? information.areasecure: ""}
            format="#.##"
            displayType={'text'}
            thousandSeparator={true}
            renderText={value => (
            <TextInput
                   onChangeText={(value) => {this.setState({informati

[2019-05-30 16:37] petrogad commented on #277
Funny, just started seeing this today when doing something like:
Pressing `2 3 5` at roughly the same time. It crashes every single time.

[2019-05-30 19:02] tylerolechnowicz commented on #298
Has anyone else run into this issue?

[2019-05-30 19:40] sezarthiago opened #317 "Callback onValueChange is called even with no triggered event"
v4 added the feature "Trigger onValueChange if the value is formatted due to prop change" to solve the issue #227  but that change has added a behavior that may be considered a bug.
Now the callback onValueChange is called when props are changed and this don't seems correct, that kind of callback only has to be called when a event is trigged to keep the component consistent.

Here is an example ht

[2019-05-30 19:44] sezarthiago commented on #227
@s-yadav I think that approach doesn't seems right, a callback like onValueChange shouldn't be called with no triggered event. To solve this kind of problem I never save the formatted value in state and when I need the formatted value I get it from the component.

I made a little change the example above to show my point: https://codesandbox.io/embed/wowovwkrp5
I also create this new example to sh

[2019-06-03 18:03] daryl0313 opened #319 "Half integer (i.e. 0.5, 1.5) rounding doesn't match `Math.round` when decimalScale is specified"
Rounding half integer values is inconsistent from `Math.round` and also between when decimalScale === 0 and when decimalScale >= 1. Expectation is that rounding should match the output when using `Math.round`, which rounds up.

Currently it seems that negative rounding is broken when decimalScale is 0.  Instead of rounding up, it is rounding down or away from 0.  When value is positive it is corre

[2019-06-04 11:04] Littlemad commented on #191
My 2 cents, @s-yadav It would be great if you could put this particular user case with the examples, I struggled quite a bit before finding your solution. I was understanding that I could use "." as thousand, but I wasn't understanding that I needed to define as well the decimalSeparator, so I was thinking that it wasn't working, when it was, and just the explanation wasn't clear to me. Thank you

[2019-06-07 02:52] jonathanfalcon95 commented on #317
I have this problem since I have onValueChange is triggered every time my component is rendered, this is an error

[2019-06-07 17:57] hyperd commented on #252
@SamKirkland is there a reason not to submit a PR for the work you have already done?

[2019-06-07 19:16] Grsmto commented on #316
I don't think this is "expected". A default value is not the same as an empty state. A default **is** a value. Whereas an empty state isn't.
You could do that yourself with a condition in the `onValueChange` function, I don't think the library should do that for you.

[2019-06-08 00:30] SamKirkland commented on #252
@hyperd I have a pull request already (see [PR291](https://github.com/s-yadav/react-number-format/pull/291))
Sudhanshu and I have been working on getting it merged, I'll take another look at his latest comments.

[2019-06-13 05:50] DamieUk commented on #227
why do we need to trigger onValueChange instead of using getDerivedStateFromProps ? I dont understand

[2019-06-13 05:56] DamieUk commented on #317
Same problem.
why do we need to trigger onValueChange instead of using getDerivedStateFromProps ? I dont understand. Not good solution

[2019-06-13 17:58] lucasconstantino commented on #296
I think what @ben1one means is `max` `min` thresholds from the default `type="number"` HTML inputs.

[2019-06-20 14:33] myownzinger commented on #293
@s-yadav  I'm getting the same issue with Number Format elements. Issue takes place in Chrome, haven't tested it on other browsers. I find it most easy to recreate when you're rapidly tabbing through and changing react-number-format inputs. Sometimes the loop is fast and sometimes it is slow.

As @Cadburylion said, the onBlur workaround doesn't fix this issue, and it's a problem for users who aren

[2019-06-20 14:47] riccardov opened #321 "prop type `customInput` is invalid (even if I didn't define it)"
`Warning: Failed prop type: NumberFormat: prop type `customInput` is invalid; it must be a function, usually from the `prop-types` package, but received `undefined`.
 `

I have this error trying to use react-number-format, and this is how I use it:

`<NumberFormat value={123} displayType={'text'} thousandSeparator={true} />`

version: 4.0.8

[2019-06-21 15:18] jonkelling commented on #277
This works for me. We found it by holding the backspace key down.

[2019-06-21 15:31] s-yadav commented on #277
If someone can create a codesandbox with failing case.

[2019-06-24 09:03] huanhuang-wang commented on #262
is there any workaround for this ? this library is very helpful if without this bug

[2019-06-24 13:36] jackall3n commented on #262
@huanhuang-wang we found the best approach was, for anyone using a Japanese style input method, to only display the formatted input on blur. Unfortunately, due to the extent of the issue on iOS there was really no other workaround we could come up with.

[2019-06-24 13:36] #262 closed

[2019-06-25 03:10] dnlnvl commented on #17
This works in terms of display but, for some reason, when I can no longer input decimal places.

[2019-06-25 04:51] s-yadav commented on #319
the module uses .toFixed method.
Math.round and .toFixed are not always the same, its inconsistent across browser.
Check this out
https://stackoverflow.com/questions/566564/math-roundnum-vs-num-tofixed0-and-browser-inconsistencies

Now the question is. Which one to use
.toFixed is used to give a fixed point notation which is what we want when the decimal scale is provided.
Math.round is used for r

[2019-06-25 12:33] #321 closed

[2019-06-27 16:29] yimejky commented on #227
Another demonstration of bug, you cant have associated values, because `onValueChange` will trigger twice. Made my solution using refs and taking value inside `onChange`. With ref I can access inner state and take float value `const floatValue = parseFloat(this.ref.current.state.numAsString);`

[code]

[2019-06-28 08:37] rioarray opened #322 "[onChange] value not change when i delete negative symbol on textbox with backspace"
When typing the following:
'1 then '2' then '-',
or '-' then '1' then '2'
It would display as '-12'.

but when i delete negative symbol with backspace, that value cannot be change and still `-12` not `12`

im using `onChange` props

[2019-06-28 12:26] daryl0313 commented on #319
Actually I'm thinking that maybe this library shouldn't be responsible for handling rounding/truncation and should only focus on formatting.

To get around my issue, I am just rounding before handing the value off to this component for formatting.  That way I can control floating point round issues and set the desired [rounding method](https://en.wikipedia.org/wiki/Rounding#Rounding_to_integer).

[2019-06-28 12:26] #319 closed

[2019-07-05 05:07] benmccann opened #323 "Title support"
Is it possible to add the `title` attribute to inputs?

[2019-07-08 02:37] lamnt95 commented on #322
Me too, How to fix ???

[2019-07-08 13:01] DeylEnergy opened #324 "Comma character could be taken as period(default decimalSeparator)"
Hello. There is a little problem that took me a long time. How to make so that the component treats ',' as '.'? Tried to manually invoke NumberFormat.prototype.onKeyDown from onKeyDown prop including SyntheticEvent with key replaced to '.'

Is there an escape hatch for it? Will appreciate any suggestions.

[2019-07-09 09:46] duncanawerbuck commented on #324
@DeylEnergy, have you tried setting the `thousandSeparator` and `decimalSeparator` props?

They're documented [here](https://github.com/s-yadav/react-number-format#props).

[2019-07-10 04:07] DeylEnergy commented on #324
Thank you @duncanawerbuck I already tried to change things around those props. The thing is I try to set ```decimalSeparator``` to ```,``` form could take both ```.``` and ```,```. However, I want ```,``` to work  as  ```.``` set to ```decimalSeparator```. Even tried to literally change the ```key``` property of ```event``` to ```.``` when ```onKeyDown``` takes ```,``` as ```key``` property

[2019-07-10 07:07] zhusee2 commented on #277
I think the problem comes from L134 in `<NumberFormat>`:
https://github.com/s-yadav/react-number-format/blob/81ef1cfe38cd06b50e1e9753ff956abefead4da4/src/number_format.js#L134

When a component is re-rendered, the `props` and `prevProps` will not be the same instance, so this expression will always be `true`?

I've noticed a situation when a user types really fast, there is a chance that this comp

[2019-07-11 20:55] duncanawerbuck commented on #324
I'm not sure I understand. The component considers two things:
* Which character you would like to be the thousand separator. If you use US/UK number formatting, you would specify `,` as the `decimalSeparator` prop. Note that this isn't something that the user types. You also dont' have to set it at all if you don't want a thousand separator to appear. If you have specified it, the component will

[2019-07-12 17:20] edwardkads commented on #293
@s-yadav I also get the same issue with NumberFormat. Did some digging around and it's caused by the setTimeout with a delay of 0 called in the onFocus function.
`setTimeout(() => {
      const el = e.target;
      const {selectionStart, selectionEnd, value = ''} = el;

      const caretPosition = this.correctCaretPosition(value, selectionStart);

      //setPatchedCaretPosition only when everythi

[2019-07-15 19:54] DaveVaughan commented on #317
I've been entrusted to fix a project which is using this component. At least return an event or something so we can tell if the onChangeEvent is due to the user typing something or if its because the model has updated. The nature of the code in the project is such that multiple direction calcs can be used, but this just makes it melt the system answering itself continuously.

[2019-07-15 20:01] DaveVaughan commented on #227
Ah sweet. At least I know it was possible to get an event out of onValueChanged in a previous version now. Have spent entire night trying to get this improvement to work.

[2019-07-15 20:29] arpontes commented on #227
@sezarthiago , but this way i'm stuck with numberformat component in order to display formatted value. What if I want to get the formatted value and use it in another place, with another component?

I don't see the point of return formattedValue if I shouldn't record it in my state...

[2019-07-16 02:23] sunviwo commented on #17
Hi, @questionablequestion, did you test your answer? For that was exactly what I did:
[code]
But I'm still getting this error:
[code]

[2019-07-17 13:46] JaccoGoris opened #326 "props passed down to input causing react errors"
The module just passes down all props, which react then throws errors about:
![image](https://user-images.githubusercontent.com/7052832/61380554-da7bda00-a8a9-11e9-856e-71e5ef3ad51b.png)

It does so for at least 4 or 5 props I've used so far.

[2019-07-24 08:54] DeylEnergy commented on #324
@duncanawerbuck thanks for elaborating on this. I might haven't explained clearly, what I want. My problem is:
- I use **period** as a **decimalSeparator**
- When I type **comma** key on my keyboard it should act as I tapped **period** key.
- Experiment. If you try to set decimalSeparator to ','(comma). Then, it can take comma and period keys as if you typed comma. I want the same effect, but for

[2019-07-24 12:32] duncanawerbuck commented on #324
I understand now.

The library’s API doesn’t currently support that.

Intercepting and translating keystrokes feels a bit like you would be fighting against the library.

I agree that the current implementation is inconsistent in the way you describe, but I  only see two options for the library itself that could work for you:
* Introduce what you describe as default behaviour, but I can’t imagine

[2019-07-24 13:07] DeylEnergy commented on #324
Thanks for the good response. Really appreciate your willingness to help. I'll give it one more try.

[2019-07-29 22:00] cescoferraro commented on #295
#328 solves this @Robfz
can you take a look at this @s-yadav ?

[2019-07-30 05:13] s-yadav commented on #326
react-number-format filters out the prop which are custom to react-number-format. Other than that it forwards all the props. So prop you are passing either should be used by this module or the input (or custom input).
Is there any use case of passing another prop which is not used by react-number-format or input?

[2019-07-30 05:16] s-yadav commented on #326
I guess in your case SliderEditField is passing some prop which is not valid for either react-number-format or input. And I guess fix should be added there.

Forwarding all props (except its own prop) in react-number-format is required behaviour.

[2019-07-30 05:55] s-yadav commented on #324
Supporting typing `.` when decimalSeparator is `,` was added to allow user who have works on multiple locale. This was added based on multiple feature request #223, #261, #133.
I can understand that the same can be required for the opposite case. As only `,` and '.' are valid decimal separator. Though I am not very sure if it can cause confusion to the user if they try to manually type thousand se

[2019-07-30 06:24] s-yadav commented on #323
As we pass all the props to actual input, an attribute which is supported on input is supported on react-number-format. Do you mean anything else?

[2019-07-30 06:24] #323 closed

[2019-07-30 06:35] s-yadav commented on #317
onValueChange is a custom callback and is meant to be triggered when the format value is changed by any mean (not only through some event). This is not for  You can just use onChange if required. And get the formatted value using e.target.value. But you will not get the other type of values with the onChange.
You can also combine use of onChange and onValueChange to get the desired effect.

[2019-07-30 06:46] s-yadav commented on #317
I will add onChange as well on the doc. But its already mentioned that onChange, anBlur, onFocus are treated like a normal event callback.

[2019-07-30 12:56] benmccann commented on #323
That's all I meant. I wasn't sure if you did because I didn't see it in the documentation. It'd be a nice thing to add if it's not already there

[2019-08-04 13:00] Yankovsky commented on #295
@s-yadav @cescoferraro @Robfz I've fixed typings in https://github.com/s-yadav/react-number-format/pull/330

[2019-08-04 13:16] Yankovsky commented on #295
In the meantime you can install `yarn add -D  @yankovsky/react-number-format`, it is just a fork of 4.0.8 with a fix from pr.

[2019-08-05 19:07] #295 closed

[2019-08-05 19:35] s-yadav commented on #295
I don't think we need customInputProps to solve the typing issue, as we forward all the props to custom input. I liked the @Yankovsky solution to accept any other props. It does allow accepting any random prop, but I think for DX that tradeoff should be ok.
@cescoferraro What do you think?

I have merged and released @Yankovsky  PR on v4.1.0

[2019-08-07 10:30] csepanda commented on #298
@tylerolechnowicz you should use floatValue instead of value:
[code]

[2019-08-13 17:21] mbonaci commented on #274
The issue happens because of [this function](https://github.com/s-yadav/react-number-format/blob/9e7f07a9f2/src/number_format.js#L418), which clears decimal and thousand separator from value.
You can circumvent it by providing your own `removeFormatting` function that will preserve those.
But even better solution, if possible in your case, is to provide `decimalSeparator` and `thousandSeparator` p

[2019-08-14 15:52] donovantc commented on #262
@jackall3n would you mind sharing a code example as to how you achieved that? Did you do that with this library?

[2019-08-14 16:02] jackall3n commented on #262
@donovantc sorry, I no longer have access to this code. However, the solution didn't use a library (although this library might benefit from the added feature, I'll have a think about adding something in).

Basically the solution was to attach an onFocus/onBlur listener to the field, when the cursor focused on the field the component would set a state value `true` or `false`. This value would swit

[2019-08-14 16:16] donovantc commented on #262
@jackall3n yeah, thanks for the quick feedback. I get what you mean and also +1 that it would be nice for this lib to have a prop like that. I'll keep an eye on it or do something about it but I cannot guarantee that ;)

[2019-08-14 16:18] jackall3n commented on #262
@donovantc haha won’t hold you to it then

[2019-08-20 10:12] Lyks-tech opened #332 "Feature suffix prefix ($ / € / %...)"
Hey,

Thanks for the cool package.
I didn't find any possibility to let the component figure out whether it should use the prefix or the suffix according to the unit.

For instance, it would be cool that for this given input { value: "10", unit: "%" }
it detects the unit as a suffix, and for { value: "234", unit: "$" }, as a prefix.

[code]
So I get `10%` and not `%10`, or `5€` then `$5`

[2019-08-21 17:01] cgarrotti opened #333 "How to format currency Brazil ?"
How to format currency Brazil ? Ex: 1.500,00 ?

[2019-08-23 14:10] sevketriza opened #334 "react React.forwardRef warning in react 16.3.0 version"
backend.js:6 Warning: Function components cannot be given refs. Attempts to access this ref will fail. Did you mean to use React.forwardRef()?

Check the render method of `NumberFormat`.
    in Unknown (created by NumberFormat)

[2019-08-25 14:08] s-yadav commented on #334
@sevketriza can you provide the snippet of how you are using number format?

[2019-08-25 14:10] s-yadav commented on #333
@cgarrotti Can you provide more information on what is breaking?
Custom thousand separator and decimal separator do work.

[2019-08-25 14:29] s-yadav commented on #333
You have to pass `isNumericString={true}` to number format if you are saving `values.value`. Or use `values.formattedValue`

Its mentioned here.
https://github.com/s-yadav/react-number-format#values-object

A corrected version of your code.
https://codesandbox.io/s/suspicious-lehmann-t7gr7

[2019-08-25 14:29] #333 closed

[2019-08-25 15:15] markcaplin opened #335 "Losing React Material UI CSS"
When using NumberFormat with React Material, none of the CSS classes of Material UI got applied. I had to manually add the class names. This mostly worked but the Material CSS class when focused still did not change the color of the Input Label or the underline to the focused color.

<NumberFormat
        getInputRef={this.props.inputRef}
        className="MuiInputBase-input MuiInputBase-label Mu

[2019-08-26 11:42] sevketriza commented on #334
I tried with some cases and detected the case is; when i use customInput property with semenctic-ui's Form.Input error is occuring.

"semantic-ui-react":  "0.84.0"

[2019-08-27 12:16] rohiniseetul opened #336 "onBlur event is being called incorrectly when user is typing"
Thanks very much for this library.

### Problem
The NumberFormat component is calling the `onBlur` event handler incorrectly. I can also reproduce this in my own project. I can also reproduce this using "@testing-library/react" and "@testing-library/user-event" in [this sandbox](https://codesandbox.io/s/create-react-app-f1yqt?fontsize=14&module=%2FNumberFormat.spec.js&previewwindow=tests)

### Exp

[2019-08-29 15:53] jackgeek commented on #336
Hi there,  I am a colleague of @rohiniseetul working with her on this issue.  Together we discovered that this is caused by a bug in JSDOM which is used by Jest.  JSDOM is incorrectly sending focus and blur events when you call the focus() method on an input element.

In the browser if you call input.focus() and then call input.focus() again you will get at most one focus event and no blur events

[2019-09-02 11:38] khanitnanj opened #338 "Bug - When using Katana (Japanese) keyboard"
Hi,

I found this bug when I change my keyboard to Katana keyboard on iOS

here I recorded https://drive.google.com/open?id=1pq07HooBziB4x0uluxBbOAlqL04HpE3D

Thanks

[2019-09-02 18:22] s-yadav commented on #336
@jackgeek extra call to elm.focus() is happening on setCaretPosition function. (This was required for old browsers. Will check if it is needed now)

@rohiniseetul is this only the test issue or happens on the browser as well?

[2019-09-04 19:39] guiihlopes commented on #306
Good tip, but it break when pass with decimalSeparator prop. :/

[2019-09-05 20:20] aneurycasado commented on #312
Is there any progress on supporting type="number?

[2019-09-06 07:55] rohiniseetul commented on #336
@s-yadav as far as I tested, the reported issue is happening in the test and not in the browser.

[2019-09-08 04:35] leonardo-sj opened #340 "decimalSeparator="," is not woking"
Why _decimalSeparator=","_ is not woking in the sample below ?
https://codesandbox.io/s/material-demo-jq806

The code is from [Material UI Text Field documentation](https://material-ui.com/components/text-fields/#integration-with-3rd-party-input-libraries).

Regards,

[2019-09-10 08:29] mdboop commented on #338
@khanitnanj looks like you need to grant permission for anyone to see it. I'd like to view it, if that's all right, because I'm currently working through an issue with IME inputs and I want to see if it's possible to work with the library or if I need to file an issue.

[2019-09-10 09:42] JosipTomaic commented on #259
@Carlitta87 Hello, did you solve this issue? I'm having identical problem...

[2019-09-10 13:41] joge17 opened #341 "Add custom styles"
Is it possible to add custom styles?

[2019-09-11 18:24] krnareshkumar23 opened #342 "Specifying two formats"
How do I specify two formats for a single input.

I need to allow two type of phone numbers which are different in formats.

formats being '4444-######' and '0#### ######' ,

I tried something like below which obviously didn't work. Because couldn't reliably check the condition.
`<NumberFormat
            {...other}
            getInputRef={inputRef}
            onValueChange={values => {

[2019-09-16 11:40] szymon-wiatr commented on #340
I've got the same issue, and can not use react-number-format to mimic German currency for example 1.223.578,00

[2019-09-17 09:22] bahamut657 commented on #340
I can confirm that:
- decimalSeparator using "," is not working.
- fixedDecimalScale using "," is accepting max 3 characters (if decimalScale is 2..how to insert 1400,25??)
- isNumericString is performing some strange behaviours

For the moment, I just replaced the plugin with https://react-intl-number-format.netlify.com/ that seems to perform better.

Regards

[2019-09-18 15:36] Vanderslice commented on #241
If you're using a customInput you may want to double-check that your custom input is passing the onKeydown through or calling it in its handleKeyDown.

[2019-09-19 10:55] isohanvanani opened #344 "Text strings must be rendered within a <Text> component."
I am new to react-native and I installed `react-number-format` via npm.

When I used `<NumberFormat displayType="text" thousandSeparator={true} thousandsGroupStyle="lakh" prefix={'₹'} value={123456789}/>` component I got error as Invariant Violation Text strings must be rendered within a <Text> component.
Please refer screenshot.

![Screenshot 2019-09-19 at 4 24 53 PM](https://user-images.githubus

[2019-09-24 07:56] macobo commented on #324
We ran into a related issue on mobile:

In our case all countries we support either use `.` or `,` as decimal separator. We want to show the number keyboard on mobile.

The best way to do so is via `inputmode="decimal"`. However some of our users ran into trouble when their locale expects `.` as separator but their phone locale shows `,` as default keyboard entry. In that mode they have no way to

[2019-09-25 20:41] umarashfaq opened #346 "Phone number format is broken"
**Steps to reproduce:**

[code]
**Expected output:**
[code]
**Actual output:**
[code]
[Click here for code sandbox](https://codesandbox.io/s/competent-architecture-f6x55?fontsize=14).

[2019-09-27 10:13] xeii commented on #334
I have got this same issue when using our custom input, which is React.FunctionComponent. I would think you can reproduce this with any custom input which is a function component.

[2019-09-29 11:09] sevketriza commented on #334
i solved it like your solution by wrapping with class component.thenks at
all

27 Eyl 2019 Cum 13:14 tarihinde Antti Väyrynen <notifications@github.com>
şunu yazdı:

[2019-10-02 09:22] tenkij opened #349 "allowDecimalSeparators does't always work correctly when paste a number into the input"
decimalSeparator === '.'
1) paste '11.11', result '11.11';
2) paste '11,11', result '1 111'

decimalSeparator === ','
1) paste '11.11', result '1 111';
2) paste '11,11', result '11,11'

https://codesandbox.io/s/react-number-format-demo-f7245

[2019-10-03 05:33] s-yadav opened #350 "Add contributer list to the readme"

[2019-10-03 05:34] thidasapankaja commented on #350
May I work on this ?

[2019-10-03 05:38] s-yadav commented on #346
It's not broken. Partial formatting is not supported. With partial format it's hard to identify weather a numeric character is part of format or actual value. You should either remove +1 from the value or pass fully formatted value.
Remember to pass `isNumericString = {true}` prop to the NumberFormat when you remove `+1` from value.

[2019-10-03 05:38] #346 closed

[2019-10-03 05:39] s-yadav opened #351 "Logo for the library"

[2019-10-03 05:45] s-yadav commented on #344
By default uses span tag to render string. You can use renderText prop to handle it in your way for react-native.

[code]

[2019-10-03 05:45] #344 closed

[2019-10-03 05:46] s-yadav commented on #342
What problem you were facing when passing condition format pattern?

[2019-10-03 05:48] s-yadav commented on #350
Sure, Go ahead.

[2019-10-03 05:51] s-yadav commented on #341
All the props are forwarded to input element. So you can do any styling with that. You can also pass customInput which will be used in place of normal input.

[2019-10-03 05:51] #341 closed

[2019-10-03 05:57] Shafran123 commented on #351
Can explain more!

[2019-10-03 05:58] s-yadav commented on #340
@leonardo-sj If you are using `values.value`, you should pass isNumeriString.
https://github.com/s-yadav/react-number-format#values-object
Will send a PR to material-UI for the fix.

@bahamut657 What strange behaviour are you getting with isNumericString?

[2019-10-03 06:05] s-yadav commented on #332
You will have to add that logic on the props.
Something like
[code]

[2019-10-03 06:05] #332 closed

[2019-10-03 06:09] s-yadav commented on #335
On such cases should use customInput prop.

[2019-10-03 06:09] #335 closed

[2019-10-03 06:22] s-yadav commented on #324
This is added with #345. Closing this.

[2019-10-03 06:22] #324 closed

[2019-10-03 06:26] s-yadav commented on #334
@sevketriza react-number-format does not pass any ref. It will be still helpful if you can create a sandbox with this warning. In case it is a real issue associated with react-number-format.

[2019-10-03 06:35] s-yadav commented on #305
Agree. A type definition should not affect global types. Happy to recieve a PR for this.

[2019-10-03 06:39] thidasapankaja commented on #350
Thanks. I'll complete this and make a pull request by today.

[2019-10-03 06:42] s-yadav opened #353 "Upgrade all the dev dependencies"

[2019-10-03 06:59] s-yadav commented on #351
@Shafran123 I don't have any good idea for a logo as such.
- One very basic can be just a screenshot of a formatted number or a gif.

Do you have any other ideas, thoughts?

[2019-10-03 07:11] s-yadav commented on #350
@thidasapankaja Check this
https://github.com/all-contributors/all-contributors/

[2019-10-03 07:32] mvklingeren commented on #334
This is not working in React FC (function components) because the defaultProps has getInputRef:noop while the default should be undefined.

[2019-10-03 09:34] danielotieno commented on #353
@s-yadav  I would love to work on this.

[2019-10-03 09:53] s-yadav commented on #353
Sure go ahead

[2019-10-03 09:58] danielotieno commented on #353
Awesome

[2019-10-03 11:07] mvklingeren commented on #351
That's cool, can i take this one?

[2019-10-03 14:02] karpusa opened #358 "Caret set to wrong position when tabbing"
Caret set to wrong position when tabbing to field with format.

When you tabbing and start writing immediately you can't write the full number and get it right. Only if you click the field manually.

I have format="07########", user tabbing to this field, and start entering 07, it showing as 0770______, instead of 07________

example: https://codesandbox.io/embed/react-number-format-demo-wsqcy

[2019-10-03 18:18] s-yadav commented on #350
I feel this should be more of a tool responsibility instead of manual addition.
Can you look for some tools to add this on readme? All-contributors is one.

The requirement for automated tool
- Contributor list should be ordered based on the number of the contribution they have made.

[2019-10-04 03:29] Darshan-Chauhan commented on #336
@s-yadav , so we need to remove this line right?
https://github.com/s-yadav/react-number-format/blob/b424a4584beac48f528c514ff15ea70f8b40dca4/test/test_util.js#L38

[2019-10-04 05:47] thidasapankaja commented on #350
@s-yadav , sure I'll do some research on it and complete it over the weekend. Is it fine ?

[2019-10-04 09:01] redblue9771 commented on #312
type='tel'

Seems to have such side effects.

[2019-10-06 16:02] #353 closed

[2019-10-07 19:13] brianpmaher commented on #312
@redblue9771 `type='tel'` does not include a decimal on the keyboard on iOS Safari.

[2019-10-08 13:07] EldRoos opened #359 "Thousand separator not acting as character"
I wish to have an option to (or always) ignore the separator character when moving around and deleting.

Start number / expected value / recieved value:
('|' shows where caret is)

23|,456 + right key / 23,4|56 / 23,|456 (should move 2 characters instead of 1)
23,4|56 + left key / 23|,456 / 23,|456 (should move 2 characters instead of 1)
23|,456 + del key / 2,3|56 / 23|,456 (should not try to dele

[2019-10-08 14:35] EldRoos commented on #359
I guess it's a duplicate of:
https://github.com/s-yadav/react-number-format/issues/299

[2019-10-08 16:30] atomcorp opened #360 "Editing fixed decimals"
Hey, I presume this is a bug, it feels like strange behaviour otherwise.

In the following demo if you try to change the number from `1.23` to `1.33`, by positioning the caret before the 2 and pressing 3, the number will instead change to `1.32`.

https://codepen.io/atomcorp/pen/yLLymVm?editors=0010

I presume the sequence being performed by the component is `1.23 > 1.323 > 1.32`.

Is this how it'

[2019-10-11 03:24] gyto commented on #273
You can still access generic props of input element like `onChange` or any other semantic Events

[2019-10-11 03:58] gyto23 opened #361 "Convert decimal number to percent number on the fly"
This might sound odd, but I have tied several ways to make a `react-number-format` To accept a number, for example, 0.0623 and then return it back to user as 6.23. Basically have way to use the input as is by typing a 6.23 but it convert number to a proper value `onValueChange`. I know that value is changing constantly and might hard to track a state all the time, that why I am getting a loop whic

[2019-10-12 14:31] gabrielnaoto opened #362 "Changing value with `fixedDecimalScale` causes Maximum update depth exceeded error"
I have a custom component that presets the default config for my project.

[code]

But whenever I use it, with something like this. It does not work.
[code]

The issue occurs if I set the properties `value` and `fixedDecimalScale`. The component tries to format the scale, triggers `onValueChange` and then repeat.

Edit: If I don't provide a `value` to the component, it works just fine. But then, I

[2019-10-12 15:07] gabrielnaoto commented on #362
It turns out the problem was not with the value, nor the fixedDecimalScale.

The problem was that I was defining `thousandSeparator="."`, `decimalSeparator=","`, which makes me parse the `value` before call `onChange`.

[2019-10-12 15:08] #362 closed

[2019-10-13 21:59] HadiSDev opened #363 "isAllowed with decimal minimum value issue"
I have an issue when I limit the value to a minimum of 1.002 ( "." is the decimal seperator):
`            isAllowed={values => {
        const { formattedValue, floatValue } = values;
        return (
          formattedValue === "" || (floatValue >= 1.002 && floatValue <= 500.0)
        );
      }}`

I can't enter the first "1" into the field when I try to enter 1.002. Yes I know 1 < 1.002 but m

[2019-10-14 13:35] EldRoos commented on #359
It also happens with decimal separator.

[2019-10-15 20:13] brunoborta commented on #334
What's the solution to this? I have a FC and I am still getting the ugly warning. Anything I can do to bypass and not show the message? I'm passing it like so:

`<NumberFormat
            value={result}
            onChange={e => setResult(e.target.value)}
            customInput={Input}
            suffix="%"
            onBlur={onBlurResult}
          />`

[2019-10-15 21:28] sevketriza commented on #334
my solution is wrapping customInput component as class component.

like that
class MyCustomInput extends Component {
render(){
return <Input {...this.props} />
}
}

at the end

<NumberFormat value={result} onChange={e => setResult(e.target.value)}
customInput={MyCustomInput} suffix="%" onBlur={onBlurResult} />

—

15 Eki 2019 Sal 23:13 tarihinde brunoborta <notifications@github.com> şunu
yazdı:

[2019-10-17 14:57] eMarek commented on #264
I think that majority of us have problems when upgrading to v4 when this was changed:

While `onChange` is triggered only at typing, `onValueChange` is triggered at typing and at prop change event. This is crucial! What most of us need is pure value at `onChange` listener and this is not possible anymore out of the box. I've tested it @rsilvamanayalle solution and it does work, but we are relying

[2019-10-18 06:47] bogdantudorascu opened #365 "decimalSeparator issue when using with react-native"
I have the following **NumberFormat** "react-number-format": "^4.3.0",:

                  <NumberFormat
                    value={amount}
                    displayType={'text'}
                    decimalSeparator={'.'}
                    prefix={'$ '}
                    renderText={value => (
                      <TextInput
                        underlineColorAndroid="transparent"

[2019-10-18 22:10] #363 closed

[2019-10-21 01:34] richardaum opened #366 "How to use currency format to fill decimal/cents first?"
Consider the following input value:
`12345`

The output would be:
`$ 123.45` instead of `$ 1,2345.00`.

How to achieve this behavior using this library?

[2019-10-21 23:16] eMarek commented on #322
I have the same problem.

[2019-10-23 00:38] guipra commented on #293
I'm facing the same issues. `onBlur` workaround works, but doesn't solve the similar rapid-tabbing problem reported.

[2019-10-23 00:56] Cadburylion commented on #293
I recently fixed this bug in my affected application by updating to the most recent version of react-number-format (v 4.2.0), removing the onBlur and onFocus functions from my NumberFormat component, and replacing them with onClick={event => event.target.select()}.

[2019-10-23 06:14] s-yadav commented on #293
Looks like @edwardkads PR fixes this. Will merge it once failing test cases are added.

[2019-10-24 03:44] #293 closed

[2019-10-24 23:25] felri commented on #366
I would like to know this as well

[2019-10-28 12:38] iloveip opened #368 "allowLeadingZeros prop is not working"
As far as I understand, if `allowLeadingZeros` is not set to `true` it should not allow zeros at the beginning of the number. But it doesn't work. I even tried to set it to `false` explicitly, but I still can get a value like `00099999.00`.

Here is my code:
[code]

And here is a link to my [codesandbox](https://codesandbox.io/s/react-final-form-wcleave-test-4kmpy?fontsize=14).

How can I turn lea

[2019-10-31 08:24] redblue9771 commented on #368
I found that it was not updated to dom in real time, unless it is focused outside the input component.

[2019-11-06 15:22] namxam commented on #259
Yeah, me too. It happens when I manage the value in parent component and pass it down to NumberFormat component.

[2019-11-08 08:21] s-yadav commented on #366
Both outputs you mentioned seems incorrect. It should be `$ 12.345.00` as you have mentioned `fixedDecimalScale`. Also, don't forget to pass the `isNumericString` prop. If you are passing a numeric string as value.

[2019-11-08 08:28] s-yadav commented on #358
I am able to tab and start typing. Which browser you are facing the issue.
I see a different bug though, on delete, the cursor should not move to the non-typeable area. Will fix that.

[2019-11-08 08:36] s-yadav commented on #360
Yes, That's the sequence. Why does it feel strange?

I presume you are expecting the number followed by the caret position should update. That will require (preprocess input) to handle keydown and update the character. While we do post process. Update field and apply format. Preprocess on keydown are buggy on some mobile browsers.

[2019-11-08 11:26] s-yadav commented on #368
This is expected behaviour to not remove leading 0s while you are typing.
On blur it gets fixed. People might 50002, and then to change it 20002 they have to delete 5 in which case removing leading 0 will be abrupt.

[2019-11-08 12:45] iloveip commented on #368
Hi @s-yadav,

Thank you very much for your reply. I'm using `react-number-format` with `react-final-from`. I have added the following code to my component:

[code]
And now on blur leading zeros are removed from the input, but not from the values. Here is the link to the [example](https://codesandbox.io/s/react-final-form-wreact-number-format-4kmpy?fontsize=14). Is there any way to fix it?

[2019-11-08 13:35] atomcorp commented on #360
When editing a fixed figure such as a currency I think most people would expect the decimal digit they are editing to be overwritten, not for it to be inserted and the last digit be removed. It only makes sense if you understand how the component works, which most users will not.

However, I was looking for examples online and couldn't find many, it seems most sites don't fix the decimal and let u

[2019-11-09 09:53] iloveip commented on #368
I have added `onValueChange={({ floatValue }) => props.input.onChange(floatValue)}` to the component based on this SO [answer](https://stackoverflow.com/questions/58774343/update-the-value-on-input-blur-in-react-final-form), and everything is working fine now.

Thank you!

[2019-11-09 09:53] #368 closed

[2019-11-09 13:12] richardaum commented on #366
@s-yadav It depends on which locale you are referring. It is correct when using, for instance, `pt-BR`.

[2019-11-09 13:14] richardaum commented on #366
@felri I've found out how to format the number properly - using a formatter.

[code]

Then you must use this format into your component:

[code]

[2019-11-09 13:45] andrezimpel commented on #366
@richardaum That's the trick. Thank you very much!

[2019-11-10 22:30] gusflopes commented on #317
Yes please... I'm still trying to figure out how to use this onValueChange.

[2019-11-11 08:53] everlasting-neverness opened #369 "Show mask after focusing the input"
Hello, can you help me please?

Is there a way to show mask (and put the caret to right position) when we just focus on input? And then if we focus out the input, hide the mask? Or the is an option just to always show mask?

I need to format phone number with '+7 (###) ###-####' mask, but when i focus on the input it shows no mask and only after user starts typing the mask appears and put user's v

[2019-11-11 13:15] felri commented on #366
@richardaum thank you, works great

[2019-11-11 23:47] simonv3 commented on #277
This is what clued us in on this error - our tests were causing this loop because they type fast. Turns out a user can also trigger it. Would a better equality check fix the situation?

[2019-11-12 02:51] zhusee2 commented on #277
I've proposed a possible fix over #370. Please let me know if that helps!

[2019-11-12 14:32] karpusa commented on #358
@s-yadav I am using Chrome version 78.0.3904.97

[2019-11-12 20:44] nathanmrtns commented on #366
@richardaum I tried with this approach, but the values object returns float value wrongly.

For example, if I type 12345, the field shows R$ 123,45, but the values object returns {formattedValue: "R$ 123,45", value: "12345", floatValue: 12345}

Did this happen to you?

[2019-11-13 11:01] richardaum commented on #366
Yeah. This is expected because the approach is based on a formatter only.
So it will only change how the number is displayed. You must handle the
float number and divide it by 100 before persisting it or whatever you do
with this number.

An alternative could be if a implementation is made to make this feature
native, then we could expect float number also be divide by 100
automatically.

You coul

[2019-11-15 14:29] SevenZark commented on #326
I'm having the same issue. In my case, the custom component is one I wrote myself. I'm passing only one prop, which is overtly declared in the custom component's propTypes, and is also used directly in the component. But I still get this red-level warning in the console, so I'd humbly suggest that, yes, this might be a bug. Also, NumberFormat otherwise silently ignores the function reference I pas

[2019-11-15 14:58] SevenZark commented on #326
Okay, it did turn out to be my issue, so, not a bug with NumberFormat. I was incorrectly importing my custom input component, but got no overt error messages about that. I only got the error about the textLabel prop. No idea why. But by randomly trying things, such as completely deleting my import statements and starting over, the issue was fixed and now NumberFormat works just fine with my own cu

[2019-11-20 11:35] cheepo2109 opened #371 "format doesn't react on extra characters"
Hey, thanks for the nice library.
I stumbled upon an issue with format prop.
Let's say I used code similar to the example

[code]
I noticed that this format function doesn't react on characters like comma,dot or slash, when I type them on the input. I want format function to adapt depending on these chars.
How can I make this function react to them?

Thanks!

[2019-11-21 11:15] cheepo2109 commented on #371
Also I noticed when I enable custom format, all the other formats stop working :)

[2019-11-25 20:01] vandercloak opened #372 "Why omit propTypes from this.props? More flexible with the ability to override props"
I think it would be really helpful to refactor the following block:

[code]

to:

[code]
This would give us more control of the handlers and other properties. Right now I am having to hack the dom element to pass my own onBlur, onFocus, and onBlur.

[2019-11-25 20:46] #372 closed

[2019-11-26 21:54] hbarcelos commented on #95
Any possibility of having this being supported now?

Brazilian cellphones can have 10 or 11 numbers:

[code]

UX would not be very good if I ask users which kind of phone number they have.

I thought of using the smaller pattern first and if the user tries to input more numbers, then switch to the larger one. However `onChange` for that doesn't seem to be an option, since it will not trigger after

[2019-11-27 20:35] TrevorJamesH commented on #259
It looks like this happens if you pass null as the value. Check for null somehow and pass an empty string instead.

[2019-11-28 10:05] jmcruzmanalo commented on #362
I'm having this same issue. Changing `decimalSeparator` to any character will cause this issue.

[2019-11-30 13:00] sergei97k opened #375 "Incorrect dot handler for input with decimalScale=0"
Hi, thank you for your library. It looks cool.

I found the problem when I created the component with the property `decimalScale`.
Steps to reproduce:
1. Create the NumberFormat component with next props:
[code]
2. Try to press or paste the **dot** symbol between zeros
3. Last zero symbol was removed

You can see my example [here](https://codepen.io/sergei97k/pen/YzPKELM)

P.S. I resolved this iss

[2019-12-04 17:22] rizkiheryandi commented on #258
Duplicate of #98

[2019-12-04 17:24] rizkiheryandi commented on #296
<NumberFormat isAllowed={(values) => {
  const {floatValue} = values;
  return floatValue >= 4 &&  floatValue <= 10000;
}}/>

[2019-12-04 17:24] rizkiheryandi commented on #296
`<NumberFormat isAllowed={(values) => {
  const {floatValue} = values;
  return floatValue >= 5 &&  floatValue <= 10000;
}}/>`

Duplicate #98

[2019-12-04 17:26] rizkiheryandi commented on #296
[code]

Duplicate #98

[2019-12-04 17:27] rizkiheryandi commented on #296
@ben1one

[code]

Duplicate #98

[2019-12-05 10:54] zeppelin32 commented on #268
Thanks, it was help

[2019-12-09 06:02] l3a0 commented on #314
Use toFixed(15) to convert the value to fixed decimal string as a workaround.

[2019-12-09 23:37] nmalancea opened #377 "`floatValue` type should include `undefined` in TypeScript type definitions"
When you delete the value (e.g. by using the `Backspace` key) `floatValue` is `undefined`. The type definition, however, says it can only be `number`.

The type definition needs to be updated to include `undefined` (`floatValue?: number` or `floatValue: number | undefined`), so that when strict mode is enabled in TypeScript, workarounds are not required.

[2019-12-26 11:28] vkchowdary1 opened #379 "When the user has copied the mobile number with the country code for the phone input"
When the user has copied the mobile number with the country code for the phone input, if the input has a mask and a country format, it does not allow 10 digits of the phone number because it contains the country code and the input already has the country format, so 10 digits of the phone number is the timing of 8 charters.

[2020-01-06 02:45] Lmjcvm opened #380 "can't set limit for react number format"
Hello guys,
I have a issue with limit. I handle react number format limit by
`isAllowed={(values) => {
            const { floatValue } = values;
            return isUndefined(floatValue) ||
              (floatValue >= minRatePercent && floatValue <= maxRatePercent);
          }}`
But if my minRate percent is 5 and maxRate is 30, and i want my rate is 25. i can't type 2 because it's smaller than

[2020-01-08 16:26] sqal commented on #380
I'm having a similar problem right now and wonder if there is some workaround or perhaps would be better to add a new props to the lib like `min` and `max`

[2020-01-13 23:27] lloyd-brightpoint commented on #379
I recommend you write your own custom validator I resolve that issue with this custom validator
`
function formatPhoneNumber(str) {
  return str.replace(/^(1|)?(\d{3})(\d{3})(\d{4})(\d)?$/, "($2) $3 - $4");
}
`

[2020-01-21 10:21] shraddha312 opened #381 "cursor does not navigate beyond minus sign"
hi,
Issue 1:
1) Enter any negative value in the input
2) place the cursor at end of the number
3) navigate the cursor to the left one digit at a time
4) once you reach the - sign, the cursor does not go beyond the sign
Issue 2 :
5) and then if you remove - sign with backspace, onchange does not get triggerred.

[2020-01-21 15:10] rfransen-intersoftware opened #382 "caret set to wrong possition, sometimes"
So the problem is that the cursor is sometimes set at position 0 (all the way to the left) after the field updates. This means that when wanting to type "12", the "2" is put before the "1".
The weird thing is that it only happens when the field is empty and has been in and out of focus.
I traced the problem to the "setPatchedCaretPosition" function. After disabling this function the caret always s

[2020-01-25 21:09] matprzybyla opened #383 "Typescript, mocha, enzyme tests not working properly when NumberFormat used in Component"
Hi,

I'm using TS 3.7 in my project. React 16.8.1.
I have a simple component that is React.FC component with hooks and it uses NumberFormat inside, that helped a lot (thanks for this component).
Setting `esModuleInterop: true` in project is not an option - read that is helped some people.

Anyway in runtime bundled with webpack all is OK, the problem starts with unit testing with enzyme shallow.

[2020-02-01 08:55] iloveip commented on #380
`min` and `max` props would be very helpful. Similar to `InputNumber` in antd https://ant.design/components/input-number/.

[2020-02-03 20:23] Reeywhaar opened #384 "propTypes warning when RefObject assigned to getInputRef"
When passing refObject (object created either by `react.createRef` or `react.useRef`) to `getInputRef`, propTypes spawn warning:
[code]

Solution is to amend [propType](https://github.com/s-yadav/react-number-format/blob/ab97de9090997034da10d5b9d2794be1f0ea35d5/src/number_format.js#L61) to something  like described here https://github.com/facebook/prop-types/issues/240

Thank you!

[2020-02-07 03:10] LongJohnSilver1504 opened #385 "The prop 'allowLeadingZeros' doesn't exist in the interface NumberFormatProps."
Hi,  the prop 'allowLeadingZeros' doesn't exist  in the interface NumberFormatProps.
Kind regards.

[2020-02-14 12:11] rpk-red commented on #264
Is this fixed? Because I can not get floatValue in onChange at the moment in version: 4.3.1. And I can not find change log anywhere.

[2020-02-14 15:34] lucianenache opened #386 "onBlur should sanitize input accordingly."
**Usecase:** input field with only `-` typed gets rendered as `-0` expected is either `empty` or `default value`.

I have created a codepen to illustrate the issue:

https://codepen.io/cccccccccc/pen/LYVGmJK

**Usage:**

1. Type `-` in the input field
2. unfocus the input field
3. The field gets rendered as `-0`, expected `empty` or `defaultValue`

![image](https://user-images.githubusercontent.co

[2020-02-19 12:06] WPaczula opened #388 "-Infinity formatted incorrectly"
Hi,
-Infinity value with `decimalScale` prop causes input format to `-NaNNaNNaNNaN` instead of `-The solution would be not to use that prop in that case, but at the same time `-Infinity` value is changed to `-0` on blur.

Steps to reproduce:
1. Use `-Infinity` as a value with `decimalScale` prop for example equal to 2.
   - Input displays `-NaNNaNNaNNaN`.
2. Set `decimalScale` to false.
3. Focus t

[2020-02-19 19:06] khalidchawtany commented on #17
@dnlnvl I can get around the issue of decimal places using the following:
[code]

[2020-02-19 22:23] WPaczula commented on #322
`onChange` is not triggered for me as well after deleting minus sign.

[2020-02-20 03:42] s-yadav commented on #388
We can probably check for Infinity before adding that value in NumberFormat. NumberFormat doesn't support infinity. This is a very rare case where you end up as Infinity on the value.

[2020-02-20 03:42] #388 closed

[2020-02-20 03:43] s-yadav commented on #386
It should leave it as empty. I will check this.

[2020-02-20 03:53] #375 closed

[2020-02-20 03:58] #305 closed

[2020-02-20 04:06] s-yadav commented on #277
Sorry for looking into this late. Will get the fix pushed ASAP.

[2020-02-20 04:30] s-yadav commented on #385
This is a new prop, probably got missed. Will add this.

[2020-02-20 15:06] s-yadav commented on #377
This is already present `floatValue: number | undefined`

[2020-02-20 15:06] #377 closed

[2020-02-20 15:11] #386 closed

[2020-02-21 03:48] s-yadav commented on #385
Fixed.

[2020-02-21 03:48] #385 closed

[2020-02-21 03:48] s-yadav commented on #384
Fixed.

[2020-02-21 03:48] #384 closed

[2020-02-21 03:59] s-yadav commented on #380
Not allowing user to type, or changing value while the user is typing is bad user experience. Instead, you should do it in onBlur handler. Ant inputs handle it in blur when min/max is provided.
Native input allow typing and doesn't even reset when min and max are provided.

We can probably add the min-max support in react-number-format only. But, till then you can do it in onBlur handler.

[2020-02-21 04:04] s-yadav commented on #371
Yes, custom formatting leaves all the formatting responsibility to format function.
Right now number-format trims all non-numeric character. Regarding supporting some custom characters, I will see if I can add a prop something like allowedChar

[2020-02-21 04:05] s-yadav commented on #369
Humm, the requirement makes sense. I will see if we can incorporate this in the library.

[2020-02-21 13:06] iloveip commented on #369
This feature is really needed. That's the only reason I have to use [another library](https://github.com/sanniassin/react-input-mask) for phone masks.

[2020-02-21 13:57] Reeywhaar commented on #384
Thank you so much!

[2020-02-22 11:54] lucianenache commented on #386
super, thanks.

[2020-02-23 05:46] s-yadav commented on #369
@iloveip @everlasting-neverness
I forgot. This prop is already present. Set `allowEmptyFormatting` to true.

[2020-02-23 06:07] #369 closed

[2020-02-23 06:22] s-yadav commented on #287
This is fixed in 4.4.1.

[2020-02-23 06:22] #287 closed

[2020-02-23 06:23] s-yadav commented on #277
There is a probable fix in 4.4.1.
Closing the issue. Will reopen if the issue persists.

[2020-02-23 06:23] #277 closed

[2020-02-25 15:36] iloveip commented on #369
@s-yadav Thank you. But then the mask is always displayed. Is there any way to show it only on focus?

[2020-02-27 08:07] AchilleasMich opened #390 "Cannot focus on text input when using preffix"
# Description
When clicking wherever on the input field, i want the whole text to be selected. The way i am trying to perform this is by having an onFocus function that selects the whole text minus the suffix.
The problem is that when i click either on the suffix text or after the suffix the caret is forced right before the suffix ignoring my onFocus action.

# Reproduce
Sample of code run
[code]

[2020-02-27 13:46] maitedev opened #391 "How to validate the length of character in the text field?"
Hi, I'm trying to validate the character length in the text field.
I want to visually show the user when the character is with the correct length, for that I am using the "error" and "helperText" property. I was reading and they recommend using the "isAllowed" property. I have tried several ways to integrate it with the onValueChange and with my error properties, but without results. Thanks in adv

[2020-02-28 02:09] ahmad-reza619 commented on #391
i have created the codesandbox [here](https://codesandbox.io/embed/lively-pine-hd8wu?fontsize=14&hidenavigation=1&theme=dark)

i do think this is because of format props that it doesn't accept anymore values after 9 characters. i do think displaying an error message is unnecessary here. @s-yadav what do you think?

[2020-02-28 13:18] maitedev commented on #391
thanks ahmad-pray619 for taking some time and responding.
It may not be necessary to show an error message, but I consider that all visual help we give to the user, to ensure that the data we send to the server is correct, is welcome.
let's forget the error message (which I consider very useful)
How would you guarantee, in this case,  to do the updateCurrentObjectFieldsOnChange method dispatch, on

[2020-02-28 15:23] ahmad-reza619 commented on #391
[this](https://github.com/ahmad-reza619/react-number-format/blob/bfa432d7648de0966cb18134d96e2cc3bb7d73ef/src/number_format.js#L637)  is the cause of issue. i believe this is intentional by the author. So you can try and patch this if you wanted to go fast by getting rid of it.

but in your use case, i think with these, you benefit from not having to worry the user might smash many characters as t

[2020-02-28 15:25] ahmad-reza619 commented on #391
@maitedev i will try to inform you as soon as i get a workaround for this. 😄

[2020-02-28 15:52] maitedev commented on #391
THANKS!!

[2020-03-03 15:48] piperchester opened #392 "type="password" with format; removeFormatting for Social Security component"
Hello! I think `react-number-format` is an amazing lib and appreciate all the work maintainers have invested int it.

I'd like to get maintainers' thoughts on using `format` in conjunction with `type="password"`.

### Problem Context
I'm working on building a SSN component, where I'd like to have both `mask`, and `format` being used. On each entry, I'd like to reformat the inputted number as a bla

[2020-03-05 06:33] #381 closed

[2020-03-05 06:33] shraddhasontakkeinfy opened #393 "cursor does not navigate beyond minus sign"
hi,
Issue 1:

Enter any negative value in the input
place the cursor at end of the number
navigate the cursor to the left one digit at a time
once you reach the - sign, the cursor does not go beyond the sign
Issue 2 :
and then if you remove - sign with backspace, onchange does not get triggerred.

[2020-03-05 06:41] shraddhasontakkeinfy opened #394 "Typing - sing more than once toggles the - sign"
Hi,

If user types minus sign (-) more than once, it toggles the - sign.
Steps:
1. Enter - It shows -
2. Enter - again, the - sign goes away
3. Enter - again, the - sign appears

The behavior can be seen even when user enter - sign along with other numbers.

[2020-03-05 16:26] kelvin1794 commented on #252
hi @SamKirkland, did the PR get merged in the end?

[2020-03-05 22:13] slim-hmidi commented on #259
Does anyone fixes this problem?

[2020-03-07 03:16] truqa001 opened #395 "Recognize flag to see if user still user still trying to enter fractional digits when reaching the maximum decimalScale"
is there any way that we can know when user reach the maximum of decimalScale and still trying to enter more number? May I have a flag to know when that happens?

[2020-03-08 03:56] truqa001 commented on #395
nevermind, i've found the way, which is using isAllowed props and pass in a function to check it.

[2020-03-08 03:56] #395 closed

[2020-03-09 07:12] s-yadav commented on #394
This is expected behaviour on the library. Using minus as toggle. Probably will mention this on doc.

[2020-03-09 07:14] s-yadav commented on #393
Issue 1: That's expected to limit user in typable area.

Issue 2: Will check this. Ideally, it should trigger onChange and onValueChange handler.

[2020-03-09 07:22] s-yadav commented on #392
As format characters are also part of input character, if you define type="password" it will hide all the character.
As far as I know there is no way of hiding partial characters with input tag.

[2020-03-09 07:22] #392 closed

[2020-03-12 06:08] truqa001 opened #396 "Pop up a tooltip if user exceed the decimalScale"
Can we have this as a new feature? It would be cool to let user knows that they cannot enter more numbers when they reach the decimalScale. Or just a flag to know when this behaviour happens would be nice!

[2020-03-13 00:27] truqa001 commented on #391
There is one solution, which might work in your case: you can pass a function to isAllow to check the value. If `this.state.value` is equal to the value, which means it has exceed the limitation of 9 digits, then you can show up the error message. (This solution not works for me as i'm using decimal number, which have the case when user press '.'. But in your case, i'm pretty sure it will work :)

[2020-03-19 19:01] lucasglobalsys opened #398 "ReactNumberFormat, Label and Outlined Inputs Mask"
Hello Guys.
I have a problem with ReactNumberFormat and OutlinedInput of Material UI.

**See the sample:**
`<NumberFormat
               value={param.value}
                      onChange={(event): void => {
                        const stateParamsAux = stateParams.slice();
                        stateParamsAux[index].value = event.target.value;
                        setStateParams(stateParams

[2020-03-20 11:56] DhudumVishal commented on #398
Same issue, I have a custom outlined input field in which I need to use NumberFormat.

[2020-03-20 14:46] maitedev commented on #391
Hi Anthony, thank you very much for taking the time and answering. Implement your suggestion and I'm already showing the error message, but I can't integrate with the onChange event.
I'm supposedly deleting a character, so it fires the isAllowed event and displays the error message, but the onValueChange event is not firing.
Here I show you my solution, maybe something is missing. Thanks again for

[2020-03-24 18:52] annemacena commented on #362
What did you do to resolve?

[2020-03-25 00:00] Ericnr commented on #317
@s-yadav why is the `values` object not passed to onChange? Tbh I don't see why I'd even need onValueChange if the values were accessible in onChange.

[2020-03-26 10:02] DhudumVishal commented on #398
Found it!
https://material-ui.com/components/text-fields/#integration-with-3rd-party-input-libraries

[2020-03-30 16:45] bulldojka commented on #258
@s-yadav, how i can change positive number to a negative when i use format function?
If i click on the "-", then a positive value is returned to this function.

[2020-04-01 12:36] lucasglobalsys commented on #398
could you post your code/sample with OutlinedInput and React-Number-Format work?

[2020-04-04 11:09] DhudumVishal commented on #398
Just add variant="outlined" in TextField.
Here is the simplified version of the material UI example.

[code]

[2020-04-04 12:24] yuriy-voypost opened #399 "minimumFractionDigits for number 14 => 14.0"
Hi!

Is there is way to show number with minimum value fraction digits?

For example, I want to show `14` like `14.0`

`decimalScale` is not the case for me, because its limit decimal number. My number could be `14.34234`

My code:
[code]

[2020-04-06 09:01] lucasglobalsys commented on #398
Thank you very much! That's worked fine.

To another people with this same problem and using **typescript**, see:

[code]

**To use this code in another component, do the folowing:**

[code]

[2020-04-07 01:23] codemang opened #400 "Input loses focus when using a custom input"
First I want to say thanks for all the hard work you guys put in!

I just started using this library, and I have a slightly complicated use case. I'm using Formik to generate my inputs, so I tried using the `customInput` option to specify how to render the input. I ultimately made an example that is very similar to this one: https://codesandbox.io/s/ppo1kvlwpx.

In that example, you'll notice that

[2020-04-10 05:11] s-yadav commented on #400
The problem is you are passing new Component reference on every render as customInput prop.
So react thinks its a new component and unmounts the previous input due to which it looses focus.

[code]

Instead of this define the customInput outside of render method.
[code]

And then in jsx
[code]
Here's the fixed version https://codesandbox.io/s/formik-x-react-number-format-knn69

Keep in mind never

[2020-04-10 05:11] #400 closed

[2020-04-10 15:46] rkoziel opened #403 "Hiding input sush as SSN digits"
This is more of a question than an issue.  I am working on a component for inputting a social security number.  One of the features of this component is to mask the first five digits of the SSN (ex:  ***-**-1234), and this can be toggled on or off.  I've tried using the NumberFormat and it works great for formatting the input to match that of an SSN.  Is there a way to be able to display the SSN i

[2020-04-13 18:11] cbdeveloper opened #404 "Using react-number-format in a currency converter and keep getting infinite formatting"
I'm trying to implement a currency converter.
Since I'm working with currencies, I need it formatted with 2 decimals.

But I'm getting multiple `onValueChange` calls after I change one of the inputs with an exchange rate with multiple decimals (some rounding issue is getting it to re-format over and over until it stabilizes).

Sandbox: https://codesandbox.io/s/crazy-blackburn-mrjml

Imagine I have

[2020-04-13 19:25] cbdeveloper commented on #404
It basically rounds `CurrencyB` to `0.19` and triggers a new `onValueChange` call. And that changes the value of `CurrencyA`, because it will be calculated with a new **rounded** value for `CurrencyB`.

[2020-04-15 11:05] yashcr07 commented on #259
In the `onChange` function we receive a value of object type. See [here](https://github.com/s-yadav/react-number-format/blob/master/README.md#values-object)
so you would need to access the `formattedValue` key in that object and use that to set the value.
I hope it helps

[2020-04-16 12:17] Pete-Eichman commented on #361
@gyto23 Did you ever figure this one out? I'm facing a similar issue where the data I GET and PUT needs to be decimal form, but the users want to see and interact with it as a percent.

Example:
data in GET: 0.1201
field content: 12.01%
new field content: 15.01%
data in PUT: 0.1501

[2020-04-22 06:15] vishaldhudum opened #405 "Value changes on hover when tooltip is present"
I have to implement a text field with a tooltip which should be shown on hover. The text field should update the value in state only on `onBlur()` not `onChange` or `onKeydown`.

Here is the link for the [code](https://codesandbox.io/s/material-demo-hf2hn?file=/demo.js)

Issue:
When I hover on the text field I see the tooltip and then I change the input field value. But as soon as i move my cursor

[2020-04-24 16:05] Shivu08 commented on #23
how can I give minimum value?

[2020-04-27 11:50] anton58845884 opened #406 "decimal values starting with .23"
I have set decimalScale : 2, entering the number as 0.23 works great, but when i try to enter .23 with "." being the first letter, it dosent work, any way to get this working?

[2020-04-30 14:05] dfyz011 commented on #349
i have same issue

[2020-04-30 14:42] markcorrea commented on #98
The solution provided didn't work for me, at least when I implemented them `min` value. I set a minimum value of 5 and the input would block me from inserting any value starting with 1, 2, 3 or 4. Even when my intention was inserting `10` or `12`, I couldn't, because the first character is `1`, and `1` is lower than `5`. Here's my code:

[code]

Has anyone gone through this and found a solution?

[2020-05-02 23:19] dccarmo commented on #189
@s-yadav I think this commit (https://github.com/s-yadav/react-number-format/commit/1ade39ffc816da04b566387b3817e6512355ff9e) broke the functionality being discussed here: the iOS keyboard show up with the numeric keyboard that doesn't have the decimal point/comma key and there's no way to override it.

[2020-05-03 04:36] s-yadav commented on #189
@dccarmo I will check this. This does says it will show correct input on inputmode="numeric"
https://css-tricks.com/everything-you-ever-wanted-to-know-about-inputmode/

In meanwhile you can still override it using.
[code]
or remove it using
[code]

[2020-05-03 04:39] s-yadav commented on #189
@dccarmo Can you also share device and OS information.

[2020-05-03 16:41] dccarmo commented on #189
@s-yadav That's great, I didn't know we could override it.

I'm testing on an iPhone XS Max on iOS 13.4.1.

[2020-05-04 05:40] s-yadav commented on #189
@dccarmo The latest release removes inputmode on IOS device when decimals, minus characters are required.

[2020-05-05 11:55] tsinghammer commented on #301
I have the same issue. I'm passing 9.845166072292531e-7
Then the onValueChange event is raised which returns 17451660.7229 as both value and floatValue.

[2020-05-05 20:25] Jaaneek commented on #258
Could you give an example how to work with custom format function and negative numbers?

[2020-05-06 08:24] mtahir08 commented on #361
any update on it?

[2020-05-08 08:10] knguyen1794 commented on #252
hi @SamKirkland and @s-yadav , may I ask if this has been merged?

[2020-05-11 00:26] sverag commented on #98
this works for me:

[code]

[2020-05-12 15:57] e-hop commented on #380
i found this #98 but it didn't work as expected

[2020-05-13 11:45] zmnv commented on #17
@khalidchawtany

It's work only one direction. After '.' was added in `value` I can't delete '.'...

[2020-05-15 20:28] ITDevMohsin opened #410 "Multiple text fields in modal does not work as expected"
I have multiple text fields implemented in Modal. I am using Materail UI but my requirement is to implement it in multiple text fields. The problem is it does not work in Modal.

So problem is that when onChange function is used, it stopped to work and without onChange handler I can't save the field data into the state.
Without onChange it happens to work but with onChange into field it freezes th

[2020-05-16 03:43] #410 closed

[2020-05-17 02:06] dccarmo commented on #189
@s-yadav Awesome, thank you! I think this issue can probably be closed (@nataliazanolli).

[2020-05-21 15:59] sibelius opened #411 "avoid dist in the repo"
dist causes a lot of noise when reviewing pull requests

can we have a `prepublish` script to build the package when publishing to `npm`?

[2020-05-21 16:04] sibelius opened #412 "Error: Uncaught [TypeError: numStr.indexOf is not a function]"
I'm getting the following error after upgrading to latest version of react-number-format

[code]

should we check if `numStr` is a string?

[2020-05-21 16:10] sibelius commented on #412
it was a wrong usage

[2020-05-21 16:10] #412 closed

[2020-05-22 08:21] SATHISH357 commented on #107
Hi Sudhanshu Yadav,

I am using NumberFormat  component for credit card masking.

I want to mask the values based on the request like

#### XXXX XXXX XX## - 3434 XXXX XXXX XX89

But the format only accepts # code

Is there any way to customize the format other than using separate function

Thanks in advance

[2020-05-22 09:01] SATHISH357 opened #413 "Customized masking"
Hi Sudhanshu Yadav,

I am using NumberFormat component for credit card masking.

I want to mask the values based on the request like

request format - #### XXXX XXXX XX##

need response while onchange -->2323 XXXX XXXX XX65

But the format only accepts # code

Is there any way to customize the format other than using separate function

Thanks in advance

[2020-05-24 17:45] UncaughtTypeError commented on #312
This is essential for an input formatting library.
If input number types are supported so are their attributes, `min` and `max` being especially useful in the case where the library doesn't provide these forms of validation as a feature.
Rejection of non-numeric numbers are built-in as well, browsers may also provide stepper arrows for incremental inputs.

[2020-05-25 06:45] SATHISH357 commented on #413
Hi Sudhanshu Yadav,

Kindly help us to find out the solution

[2020-05-27 08:35] nikdementev commented on #314
are there any updates on this issue?

[2020-05-27 11:06] VanTy207 opened #414 "Initial value redux from not working for react number format."
I'm using Redux form to wrap your library in the component.
I found the same problem:
https://github.com/s-yadav/react-number-format/issues/391

Code redux form:
[code]

Code control input number format:
[code]
Could you please help me with this issue?

[2020-05-29 07:34] obrejla opened #415 "Rounding does not work"
Hi,

at first, thanks for the nice component ;)

However, according to **Notes and quirks**, point **2. Value as prop will be rounded to given decimal scale if format option is not provided.**.

It does not work.

**Reproducible test case:**
[code]

**Expected output:**
2.83

**Given output:**
2.82

It just strips fraction digits `> decimalScale` instead of proper rounding.

**Version used:**
`"re

[2020-06-09 11:40] shellebelin opened #417 "Unformatted return value"
Hello,

If I have an 'input' type, could it be possible to get return value without format?

Thank you!

[2020-06-10 04:05] petrh-bizcover opened #418 "Dynamic format change?"
Hello,

I'm trying to find an auto-formatting component which would allow me to detect and parse/format (Australian) phone numbers in both landline (2 1234 1234) and mobile (449 123 456) formats.
So depending on what the user starts typing into the field, I need the format to change accordingly.
Is that possible with your package?

Cheers!

[2020-06-11 15:43] bbaoNg97 commented on #358
I am facing this issue also

[2020-06-15 18:54] sibelius opened #419 "100000000 is causing issues"
![image](https://user-images.githubusercontent.com/2005841/84694877-4f272080-af20-11ea-8269-aad3edf137d9.png)

this is also `NumberFormatInput`
[code]

and we use it like this

[code]

with material-ui

it is calling twice `onChangeValues`

[2020-06-15 19:45] sibelius commented on #419
it was a bug everywhere else

[2020-06-15 19:45] #419 closed

[2020-06-16 01:30] xiaoyu-tamu opened #420 "Cmd + Delete does not delete value when use decimalScale fixedDecimalScale and prefix props"
https://codepen.io/michael-li/pen/YzwGxJE

How to reproduce

1. type 123
2. delete all use `cmd + delete` or `ctrl + delete`
3. the cursor goes to first place but value didn't change

![image](https://user-images.githubusercontent.com/33362998/84721867-49910100-af47-11ea-80da-eeec82ade999.png)

when the cursor in the blue area, `cmd + delete` or `ctrl + delete` does not trigger onValueChange.

but

[2020-06-16 11:09] IhorFedorkiv94 opened #421 "format props: Cursor moving to beginning by pressing "backspace""
![format_props](https://user-images.githubusercontent.com/50927095/84763104-61629680-afd4-11ea-9839-4ab435e12fcb.gif)

Created a custom format, pre-filling at the beginning formatted string with  "+" and code country.

After manipulation, I receive string - "+93-##-###-####"

Moving the cursor at the beginning by pressing "backspace". when you start typing from that position - additional duplicate

[2020-06-25 21:07] davewurtz commented on #404
I have a similar problem.  Did you get this resolved?

[2020-06-29 18:54] iMiodrag commented on #417
@shellebelin try
[code]

[2020-06-30 08:59] shellebelin commented on #417
Sounds good, but the event value is still formatted..

[2020-07-01 07:15] Skladnayazebra opened #422 "Typescript error when pass "size" prop with custom MUI Textfield"
Hello!

I`m using NumberFormat + Material UI + TypeScript

When i give `customInput={TextField}` and `size={"small"}`, I got error from TypeScript:

[code]
Here`s my component:

[code]

If I remove `size` prop, everything works fine and `TextField` recieve all other props (`label`, `helperText`, etc.)

[2020-07-05 09:04] cbdeveloper commented on #404
@davewurtz sorry. No I didn't. At the end I had to create my own solution to fit my needs.

[2020-07-05 12:50] osvaldokalvaitir commented on #418
I also need to make this mask dynamically, but I didn't get it with this component! In Brazil, the mobile phone has 8 or 9 digits.

[2020-07-05 19:46] halcwb commented on #312
Another problem with the number type I stumbled upon is the behavior in FF. When the type is number, you can type in non numeric characters, but then just about nothing happens. So, you get ugly things like:

<img width="1016" alt="FF number problem" src="https://user-images.githubusercontent.com/683631/86540946-fa683b80-bf08-11ea-97c2-ffdd1750d781.png">

[2020-07-08 17:04] gepd commented on #418
I think this could be possible to do, adding a custom `format` function.
You can pass a function to the `format` prop. Getting the [current function](https://github.com/s-yadav/react-number-format/blob/9e7f07a9f2/src/number_format.js#L443-L454) can make things easier, as start point.

I was thinking that making the function fill the numbers from right to left will add more flexibility

[2020-07-13 05:55] stonestecnologia commented on #366
Please number formatter ?

[2020-07-14 11:13] mnemanja opened #424 "Removing all numbers from the field doesn't work"
There's a problem removing all of the numbers from a field.

The field starts empty, as soon as a number is added, everything can be removed except the last digit (backspace or delete, it doesn't matter).

When the backspace is pressed at the last digit, the cursor just moves to the left and nothing happens. No `onValueChange` gets triggered, for example.
When the delete button is pressed, and the

[2020-07-14 11:21] mnemanja commented on #424
The issue was actually with the `isAllowed` property rule implementation. All good!

[2020-07-14 11:21] #424 closed

[2020-07-15 18:54] gyto23 opened #425 "License Renaming"
I mention that License file is weird naming convention and might now follow the directory standards. I would suggest to consider this to be changed as:
[code]

Let me know if you want me to contribute to changing the file name (of course if you dont have time to do it)

[2020-07-17 21:17] Elrion commented on #308
I had the same problem and I guess that the root of this issue is in function called "updateValueIfRequired". There is an equality check of float representation of old and new values. Conversion to number causes a precision loss therefore prev and new values are counted equal (which is not true).
For now I can see no solution other than fork/patch-package this repo and replace parseFloat part with

[2020-07-18 00:22] rasgo-cc opened #426 "Stepping with keyboard"
As far as I could test (including the codepen provided in the readme), it's not possible to step numbers through keyboard's ArrowUp/Down keys.

Is that it?
Any plans to support it or any pointers on how this should be implemented (happy to contribute with a PR)?

[2020-07-23 18:44] anjumpaul opened #427 "Formatting dashes prefilled"
Dashes should become as user reaches those locations

[2020-07-28 07:42] michaelVictoriaDev opened #428 "react number format (React Native)"
Im using this library for react native and my code looks like this.

[code]

I having a problem when the user type in the input you can see the text indicator is always in right.

![ezgif-7-306b28fecd9b](https://user-images.githubusercontent.com/44763288/88634409-eb7c3f80-d0e8-11ea-9993-0c87bfe09165.gif)

[2020-07-28 12:58] osvaldokalvaitir opened #429 "onValueChange with function"
I have a function that calculates the balance due, so onValueChange I put this function, but in the initial state of the component it executes the function.

I tried using onChange, but it doesn't have floatValues, sometimes it does and sometimes 'undefined'.

How could I perform the calculation function only when the user changes the value and not the initial state of react using formik?

[2020-07-28 13:15] osvaldokalvaitir commented on #264
I'm using formik and I need it too

[2020-08-05 09:34] MakaryHryshkin opened #431 "Trailing zeros don't get removed"
I'm not sure whether it's should be handled by the package. I would be glad about any thoughts.

[code]
React number formatter parses the value above as:

![image](https://user-images.githubusercontent.com/37333016/89396949-e2f2bd00-d717-11ea-9430-28f8a7c7f2c9.png)

Should the trailing zeros be omitted?

[2020-08-05 09:41] resting opened #432 "onValueChange - when selecting all values, backspace not working"
I'm using the `onValueChange` method and setting value to the component, but on `select all` (cmd+a on Mac) and `delete`, it doesn't remove the values. Checked that neither `isAllowed` or `onValueChange` takes in event object. So how do we capture `backspace` key?

[code]

[2020-08-05 10:39] resting commented on #432
I wasn't setting the value to `customAmt` when it returned `""` when `select all` and `delete`. After I set it to empty is working as expected.

[2020-08-05 10:39] #432 closed

[2020-08-05 12:00] alexandre033 commented on #429
Hello, i have approximately the same problem. When the props value change the onValueChange is fired !! It creates infinite loop when an input update another input vice versa.

[2020-08-06 07:29] Uday8486 opened #433 "Unit test with enzyme with NumberFormat, for isAllowed"
I am using the react number format for inputting the number input fields.

[code]

function for the **isAllowed**, is to limit the length of values entered in the field.

`    limitInputValue = ({ value }: NumberFormatValues ) =>  value.length <= ALLOWED_INPUT_LENGTH;
`
I need to write a unit test for this functionality, to check if the values entered in the field with **NumberFormat** gets restri

[2020-08-07 17:14] joelpoloney commented on #252
+1 can we get this merged as well? Thank you!

[2020-08-08 10:59] ivanafanasyev opened #434 "Return span instead of input"
<img width="831" alt="Screen Shot 2020-08-08 at 13 58 41" src="https://user-images.githubusercontent.com/25664253/89708378-4599c200-d97f-11ea-8c97-93d9fa36259b.png">

[code]

[2020-08-08 10:59] #434 closed

[2020-08-10 11:15] macvalari commented on #298
Does anyone have an update for this? I'm experiencing the same bug

[2020-08-10 22:52] javadev-jef commented on #417
Any updates on this subject?

[2020-08-13 10:33] diva29oct commented on #298
I am also experiencing the same issue

[2020-08-21 11:44] curtisburns opened #435 "If value doesn't change because it doesn't pass isAllowed condition, onChange still fires when onValueChange doesn't."
Since the event object isn't provided by the onValueChange handler, I need to use this in conjunction with onChange. Unfortunately one is firing when the other isn't which is causing issues. My thought was that as the value is not changing when not passing isAllowed, onChange shouldn't fire. What's the intended behaviour?

[2020-08-27 04:22] risardi123 opened #436 "[Question, Need Help] - How to replace default , to . | Example 123,000 -> 123.000"
Dear community,

I need help, I was searching on google how to replace this problem, but i can not find the solution or example how to use it, except you made some state and use regex on onChange and setState you are done, but it's not the effiesien way to do this, when use NumberFormatter component on an array.

My Current object looks like this
`
<NumberFormat thousandSeparator

[2020-08-27 09:17] #436 closed

[2020-08-31 09:59] Grafikart opened #437 "Unsynced value props"
I'm currently trying to solve an issue with this component. I expected it to behave like a regular react input :+1:

[code]

I expect this field to never change but the user can type value. In some case it creates issue where the value inside the NumberFormat state is desynced with the value props. I explored the code a bit and I guess the problem comes from there :

https://github.com/s-yadav/rea

[2020-09-02 22:36] idjuradj opened #438 "Trying to use it with Intl.NumberFormat causes Maximum update depth exceeded error"
I would like to format numbers dynamically depending on the locale of the user, and his selected currency in the system. Therefore I don't want to set `thousandSeparator` or `decimalSeparator` explicitly, but would like that Intl.Number format does that for me.

Code for component looks like this:
[code]

This results in this error:
`Invariant Violation: Maximum update depth exceeded. This can hap

[2020-09-05 09:04] rohandayal commented on #17
Got it to work by extending @khalidchawtany 's approach. Basically, added another condition checker that removes the decimal when the passed value does not end with a decimal (found this by logging the values and checking what value is passed depending on various inputs). Not sure if all cases are covered though.

`<NumberFormat
    value={amount}
    displayType={'text'}
    thousandSeparator={tr

[2020-09-10 03:31] caretapps-developer commented on #259
@yashcr07 i tried what you mentioned and I see the 3 values. However he issue persists.  Did anyone resolve this issue successfully?

[2020-09-10 08:28] nmaddp1995 commented on #276
Do you have any idea to pass through that?. I am using Input of ant design and can't use prefix and suffix :(

[2020-09-10 15:03] ScottAgirs opened #440 "How to apply placeholder when using the prefix prop"
Hey there, trying to understand if I'm missing something obvious here.

I'm looking at an input would handle currency:

[code]

The issue is that unless `prefix` is removed the placeholder is not shown - is there a way to fix this?

[2020-09-11 22:56] samuelpetroline commented on #17
I have the same problem. Did you find any solution to this?

[2020-09-14 02:20] guitexa commented on #108
Hey @alyrik how did you do this [demo](https://codepen.io/alyrik/pen/KXOLgL) without symbols?

I really need to create an input field with format but without show symbols, if someone can help I appreciate.

![format number(2)](https://user-images.githubusercontent.com/34251231/93036941-92745680-f617-11ea-92bd-695bf7b311d6.gif)

[2020-09-17 09:07] vuthehuyht opened #441 "Do not allow lead zero at beginning of number"
Hello, I use NumberFormat to enter number which is greater than 0. I have set allowLeadingZeros=false, but I can still enter 0.
Here my code:
[code]
is there a way to fix it??

[2020-09-17 09:14] #441 closed

[2020-09-21 13:33] obrejla commented on #349
Hi. Same issue here...:/

[2020-09-21 15:24] c0d3x opened #442 "Setting max limit in currency?"
I want to limit the number-input to allow the max amount of:
max={100000000000} so it cannot go higher.
How can I do this?

[2020-09-21 20:15] lainermeister opened #443 "Hide mask until user reaches that point"
I am trying to make masks for zip codes and phone numbers where the mask only appears when a user reaches that point in typing. Below is an example for zip code:

What I want:
![WnNjpQRqf9](https://user-images.githubusercontent.com/26628913/93816154-2308f300-fc25-11ea-806a-61e56248b5ec.gif)

What I could get via `react-number-format` by setting `format` prop to `#####-####`. (The hyphen is always

[2020-09-21 23:17] c0d3x commented on #442
Think i found out using this:
https://codesandbox.io/s/react-hook-form-normalize-field-1jumn?file=/src/index.js

[2020-09-23 10:54] sedatbasar commented on #269
@sross0988 solution worked great with the inputs which are empty initially, but not with inputs with has some default value in it.
So i firstly set value to '' and then set to expected value to make it run correctly.

[2020-09-27 12:18] kristotruu commented on #429
+1 Have same problem.

[2020-10-07 12:27] smacrineanu commented on #431
I have the same issue. It would be pretty stupid it it wasn't handled by the package...

[2020-10-07 14:00] anadutova commented on #437
I had a similar experience.

I believe the issue comes from this line:
https://github.com/s-yadav/react-number-format/blob/master/src/number_format.js#L146

    // If only state changed no need to do any thing
    if(prevProps !== props) {

Workaround:
 `<NumberFormat value={2456981} onValueChange={() => this.forceUpdate()} />`

This forces `props` to change by reference, thus forcing the componen

[2020-10-07 21:03] GabrielF9 commented on #197
@s-yadav any update for this issue? @theonelucas you resolved this with another way?

[2020-10-09 15:55] lainermeister commented on #336
Hi all, is this still an open issue or is there a fix in place? Thanks!

[2020-10-10 16:19] s-yadav commented on #336
I don't think this is picked. Happy to receive a PR for this.
This is the place to look for.
https://github.com/s-yadav/react-number-format/blob/master/src/utils.js#L112

[2020-10-13 08:41] irfanandratama commented on #365
Did you manage to solve it?

[2020-10-16 10:06] mackankowski commented on #322
Hey all,

Nothing but this works.

[code]
[code]

Any other conclusion? If not, let me try to commit the fix pretty soon...

Best regards,
Maciej

[2020-10-17 11:38] HeroicHitesh commented on #350
@s-yadav I would like to work on this issue if it's still relevant. Also, according to [docs](https://allcontributors.org/docs/en/bot/overview) we first need to install the bot for this repository, and then we can modify it according to our needs. And I guess installation can be done by people with write access only. So, let me know how should we proceed with this issue if it's still relevant.

[2020-10-19 09:17] pedroR opened #445 "Is it possivle to style the units"
Hi
I would like to know if its possible somehow to style currency units?

[2020-10-19 17:43] crperezt commented on #61
Solution is now decimalScale=0 for those stumbling into this problem.

[2020-10-21 13:18] benneq opened #446 "NumberFormatProps defaultValue type doesn't match @types/react"
When using `<NumberFormat />` with react material `<TextField />` I get:

[code]

The source of this issue comes from `@types/react`:
[code]

Though I suggest to change the type definition of `NumberFormatProps` to:
[code]

Then this will always be in sync with `@types/react`.

BTW: Seems like there was a similar issue two years ago: https://github.com/s-yadav/react-number-format/issues/244

[2020-10-21 14:22] ArtemShirshov commented on #349
Hi, @s-yadav
This problem is still relevant today

[2020-10-21 16:35] mklosterboer commented on #322
Looks like this is because of a special case being handled in `onKeyDown`. `UpdateValue` will call to `onValueChange`, but nothing is calling `props.onChange()`, so any handler is not being used.
https://github.com/s-yadav/react-number-format/blob/master/src/number_format.js#L830-L840

I am having to use `onChange()` instead of `onValueChange()` because I am changing the value from outside state a

[2020-10-21 20:48] mklosterboer commented on #322
As a workaround, I decided to use `onValueChange()` only if the user is removing the negative from a number.
Here is a [sandbox](https://codesandbox.io/s/charming-fog-hx8hw?file=/src/App.tsx) with this working or see below for the code snippet inside our formatter wrapper.

[code]

[2020-10-23 04:39] faizhameed opened #447 "Wanted to remove leading zeros"
I'm just reinstating the same issue again.
https://github.com/s-yadav/react-number-format/issues/240
But there is an obvious user accessibility improvement in this, especially when entering a percentage.

in my case what I have done is
[code]
you can see i am replacing the zeros. It's working fine, but I am unable to add decimal point values. without this `format` prop I can add decimals, but now

[2020-10-27 10:17] Sunnatilla commented on #441
Did you solve this problem ?

[2020-10-27 16:07] Volekss commented on #365
Same question, any success on that?

[2020-10-28 11:12] tcagkansokmen opened #448 "Native Base Support"
Here's my code below.
And it doesn't make it formatted.
Didn't understand why.

Expected;
500.000,00

Result:
500000

[code]

[2020-10-28 13:39] Vikas2709 opened #449 "Prefix sign repeating while inputting data"
Hi, I have used React Number Format component to add the Prefix "$". While data input, prefix sign "$" appears multiple times as I press the values (number) in the input. Please help.

Eg "$$$$1234",

[2020-10-29 09:05] tanya94 opened #450 "Safari iOS autofill with react-number-format allowEmptyFormatting"
Hello! I use ReactNumberFormat input with phone mask and `allowEmptyFormatting` prop. Safari on iOS offers to autofill value from contacts. But after autofilling input is again only with empty mask (with yellow background-color, because is was autocompleted).
Code example (a part of your live demo codepen):
[code]
P.S.: If I use the same example without `allowEmptyFormatting` prop, value autofills

[2020-11-02 13:40] andrzey opened #451 "OnBlur removes possibility to write decimal seperator"
First of all thank you for a wonderful component!

I have come across an issue when combining onBlur and a Material-UI OutlinedInput component. I cant use the `onValueChange` method that `react-number-format` exposes because it gets triggered whenever the value is changed. I have an input that have a `decimalScale={1}` and the first time I focus the input and starts to type everything works perfec

[2020-11-02 14:21] #451 closed

[2020-11-03 09:10] DuudeXX8 opened #452 "Remove with backspace and delete not working when format attribute is enabled"
Hello,

I've noticed a bug with the `Delete ` and `Backspace ` key handling. If format attribute is enabled user can only  remove all characters from input.He can't highlight and remove part of numbers. `Delete `and `Backspace `does not work.

[code]
[**Codesandbox Demo**](https://codesandbox.io/s/numberformat-format-forked-nehd6?file=/src/demo.js)

![captured (2)](https://user-images.githubuserco

[2020-11-05 14:25] Magofoco opened #453 "Lose focus on input"
I have created an input component (`InputComponent`) using `react-number-format`. This component accepts only a string numerical value with one decimal. Example: "12.5" or "12" but not "12.55". This works.

**However** when I use `InputComponent` to build another component (`BiggerComponent`), the input loses its focus on each key stroke.

https://codesandbox.io/s/festive-ishizaka-bvktl

[2020-11-07 00:59] dokugo commented on #441
Having the same issue.

[2020-11-07 21:44] ipekmuhammet commented on #428
same issue

[2020-11-10 16:20] olehslyniavuk commented on #450
+1 the same for google chrome autocomplete

[2020-11-11 18:51] fedulovivan opened #454 "Not updating changed value of "fixedDecimalScale""
Noticed that component sometimes sticks with last value of "fixedDecimalScale" option and not re-renders until some other prop changes.

Reproduction:
step 1: go to official demo at https://codepen.io/s-yadav/pen/bpKNMa
step 2: use following snippet in JS
[code]

step 3: click toggle button several times

Expected zeroes to be added/removed to number on each button click

[2020-11-11 18:53] fedulovivan opened #455 "Component is not updating after changing "fixedDecimalScale" option"
Noticed that component sometimes sticks with last value of "fixedDecimalScale" option and not re-renders until some other prop changes.

Reproduction:
step 1: go to official demo at https://codepen.io/s-yadav/pen/bpKNMa
step 2: use following snippet in JS
[code]

step 3: click toggle button several times

Expected zeroes to be added/removed to number on each button click

[2020-11-12 04:31] #454 closed

[2020-11-12 04:32] fedulovivan commented on #454
due to some github issue item was created twice

[2020-11-12 10:05] fedulovivan opened #456 "Result renderred with renderText function is missing className prop"
Since renderText receives only one argument with formatted text there is no way to pass unhandled props ("otherProps") down.
Imagine code is refactored from:
[code]
to:
[code]
After refactoring class wont be renderred.

Proposal is to pass **otherProps** variable to renderText as well as **value**. (Im referring to [this line](https://github.com/s-yadav/react-number-format/blob/13e2fbb1825cf2b06ea

[2020-11-15 10:15] thiagofernando opened #457 "Suggestion - Integer"
It's possible to limit integer size, example 4 characters

[2020-11-18 17:21] ErikParso opened #458 "Suggestion - expose formatting functionality"
Hello. Thank you for a great library! It would be nice if i could use formating functionality without using NumberFormat componnent. Some function which accepts number and NumberFormatProps an returns formatted string just like input would show.

[2020-11-19 17:23] nikhil-varma commented on #453
@Magofoco Seems like that component is re-rendering and loosing the value. I am still working on figuring this out but looks like if I don't update the state, the value seems to be showing up just fine as the `InputComponent` does.  While debugging this, I also discovered that the value stays till the function handlers renders the `NumberFormat` component post updating the state but then it re-ren

[2020-11-19 17:54] Magofoco commented on #453
@nikhil-varma
I just solved it by moving the function that uses `NumberFormat` outside the Input function.
I think that if it is inside the Input function, the whole `NumberFormat` functions gets re-created at each key stroke. That why it looses focus.

**Not** working example: (with the function that uses `NumberFormat` **inside** the `Input` function)
https://codesandbox.io/s/festive-ishizaka-bv

[2020-11-19 18:17] nikhil-varma commented on #453
@Magofoco Makes sense! Thanks for letting me know!

[2020-11-19 18:52] #453 closed

[2020-11-22 06:26] s-yadav commented on #458
Make sense,
There are two part major part of this library.
1. Formatting the number based props.
2. Maintaining input states while managing the cursor position.

The formatting part definitely can be separate out.

Btw, if you just need need the formatting part without input. You can pass `displayType="text"` props. But yes it will still have the code for state management part.

[2020-11-22 06:28] s-yadav commented on #457
Yes, it provides isAllowed prop, where you can have custom validation for this.

[2020-11-22 06:32] s-yadav commented on #456
Make sense. +1

I can see a usecase for this where renderText prop is provided dynamically based on some props.
But in simple case I will suggest to have those props directly on span.

[2020-11-22 06:40] s-yadav opened #459 "Better tree-shaking"
There are bunch of props and and different usecase. Like input mask, formatting currency, custom format etc.
People might not use all of this. This thread is to brainstorm on how we can restructure codebase, props which will let tool to better treeshake the library.

We can assume we can make some breaking change and release this with next major version.

Suggestions are appreciated.

[2020-11-22 06:47] s-yadav commented on #429
Is the infinite loop issue still persist? A code snippet might help for this.

Plus we can start passing the source of onValueChange, whether it's caused by prop change or actual input change.

I think we can pass the source object as 2nd parameter to onValueChange. Something like.
[code]

[2020-11-22 06:50] s-yadav commented on #428
It doesn't support react-native yet. The library is highly dependent into getting the cursor position and setting it back. For react-native not sure if they provide any API for this.

I will be happy if anyone want to look into this.

[2020-11-22 06:53] s-yadav commented on #427
Not sure If I understood the requirement correctly.

[2020-11-22 07:24] s-yadav opened #460 "Better documentation with live examples."
Currently the examples are codepen, but they are not linked directly with the cocepts/props provided. A better doc with example close to doc will help people to try out things in a better way.

[2020-11-22 10:16] Joy-jeevan commented on #259
solved this issue by setting isNumericString props to true. see [here](https://www.npmjs.com/package/react-number-format#notes-and-quirks)

[2020-11-22 16:22] nikhil-varma commented on #456
@s-yadav Can I take this up?

[2020-11-22 16:54] s-yadav commented on #456
Sure @nikhil-varma.

[2020-11-22 19:30] kolharsam opened #463 "Proposal: Rewrite this lib. in Typescript"
Right now, with the very limited knowledge I have, I feel that this library's code should be rewritten in Typescript. I have one reason in support of this, and that is regarding the friction that users might face while trying to set up the code editor to add/suggest/remove code from the library. Most modern editors, I feel, support TS out of the box and hence we'd be relieving people from this set

[2020-11-22 19:34] kolharsam commented on #463
If it does happen that rewriting is a viable option, then we could integrate some points from #459 perhaps?
Any thoughts on this @s-yadav?

[2020-11-23 09:48] fedulovivan commented on #455
I assume problem resides in function *updateValueIfRequired* in [this line](https://github.com/s-yadav/react-number-format/blob/master/src/number_format.js#L160)

When original value is integer (with no real fractional part) expression `floatValue !== lastFloatValue` returns **false** and therefore formatting remains unchanged.

[2020-11-27 22:10] adarshlilha commented on #455
+1 @fedulovivan - Tried out the snippet and it seems the line you pointed out should fix this

[2020-11-28 19:08] kolharsam commented on #459
For starters, I'm thinking the obvious, having specific components for the different use cases that you've mentioned. Each of these can have props specific to them and in the end, I think will help everyone trying to use this because you can no longer misuse props that were/are intended for a different purpose.

The downside I can see on this is that you might have parts that might be repetitive o

[2020-12-01 04:47] FayP commented on #455
+1, suffering from a flavour of this too.

[2020-12-01 13:13] AlexeiBaranov opened #467 "Enter number with decimalScale without having to press '.'"
Nice component!

Is it possible to enter number with decimalScale>0 without having to press '.'? For example:
decimalScale=2
type 1 => 0.01
type 2 => 0.12
type 3 => 1.23

[2020-12-01 16:46] andrew-aladev opened #468 "Basic negative number flow: autoremove minus sign"
Please see the following flow:

1. Value is "-1".
2. User removed "1", value become "-".
3. User made blur, value should become "".

User should receive on change event with "", but there is no such event. Last on change event provided "-" value.

[2020-12-01 16:57] #468 closed

[2020-12-01 16:57] andrew-aladev commented on #468
Sorry, wrong environment.

[2020-12-02 09:59] andrew-aladev commented on #468
PS Please checkout [`number_format.js`](https://github.com/s-yadav/react-number-format/blob/master/src/number_format.js) and you will become sure that this source code is not fixable and maintainable.

[code]

[code]

[code]

We can see that it is not possible to maintain minus sign with custom `format` function simultaneously. Bunch of issues with minus sign and custom `format` function may be re

[2020-12-06 18:48] s-yadav commented on #447
On blur does remove leading zero right? Can you be detailed on what the actual issue is on user accessibility?

[2020-12-06 18:53] s-yadav commented on #435
Humm, onChange shouldn't be called if isAllowed returning false. Looks like a bug.
Also, will be adding second parameter on onValueChange which will give event object based on where it is triggered from.

[2020-12-06 18:55] #457 closed

[2020-12-06 18:56] s-yadav commented on #449
Can you share example code, error looks more likely to wrong usage.

[2020-12-06 18:58] s-yadav commented on #445
The library applies the formatting inside the input element itself. So styling the parts is not possible, you probably should manage the units outside of number input.

[2020-12-06 18:58] #445 closed

[2020-12-06 19:01] s-yadav commented on #425
Make sense.  Will update. Thanks.

[2020-12-06 19:04] s-yadav commented on #425
Done.

[2020-12-06 19:04] #425 closed

[2020-12-06 19:09] s-yadav commented on #411
Yes, make sense. Will remove.

[2020-12-06 19:13] s-yadav commented on #411
Note: We will have to update the cdn url in codepen demo. Currently it uses the dist file. Update it to use a distribution file from https://unpkg.com/

[2020-12-06 19:24] s-yadav commented on #443
Having a partial format is tricky as the format part can also have number. If we allow partial formatting we will not able to identify whats the part of format and whats the part of actual input.

Though in future we can look into a better strategy of figuring out format which will remove this limitation.

[2020-12-06 19:40] s-yadav commented on #431
There is fixedDecimalScale which keeps the trailing zero. Is this happening even with that disabled.?

[2020-12-06 19:44] s-yadav commented on #426
ArrowLeft/Right keys should work. Isn't that working?

[2020-12-06 19:57] s-yadav commented on #421
Looks like a bug.

[2020-12-07 23:20] henrique-smr commented on #366
@richardaum Thank you so much! (Valeu demais velho)

[2020-12-08 12:16] malj commented on #458
@ErikParso I needed the same thing, you can use a custom function to render the React element as string until this is officially implemented:

[code]

[2020-12-10 07:06] S3ak commented on #422
I have the same issue. How did you resolve?

[2020-12-10 07:53] S3ak commented on #422
Hard workaround is to ignore the props type checking
[code]

[2020-12-10 10:10] s-yadav commented on #467
The library doesn't support this. Supporting it might be tricky and not in the scope of the library.

[2020-12-10 10:10] #467 closed

[2020-12-10 10:14] s-yadav commented on #442
you should be able to implement it with `isAllowed` props.

[2020-12-10 10:14] #442 closed

[2020-12-14 10:16] fwolff opened #471 "Support React 17+"
Hi,

It would be nice to support React 17+

In ```package.json```:
[code]

Thanks.

[2020-12-14 15:52] jologz commented on #452
We are experiencing this issue.  I created a PR to resolve. hopefully, it gets reviewed.

[2020-12-15 11:24] faizhameed commented on #447
Ok nevermind, it was a private repo, I changed my organisation recently. so Im closing this

[2020-12-15 11:24] #447 closed

[2020-12-17 13:59] georgetudor93 opened #474 "TypeError: Attempted to assign to readonly property"
Hi everyone.

I'm struggling with an issue on ios and android. When i introduce numbers into the number input it gives me this error 'attempted to assign to readonly property'. Strangely enough, on web simulation there are no errors and the value updates accordingly.

I'm using it in react native 0.62.2 with ES6.

[2020-12-18 05:48] irfanandratama commented on #415
Did you manage to solve this?

[2020-12-18 06:36] obrejla commented on #415
We just do rounding outside of the component afair. But it’s not ideal though.

[2020-12-20 23:13] irfanandratama commented on #415
Do you set your decimal scale to 2 or 3?

[2020-12-21 06:44] obrejla commented on #415
You mean in the component usage? 2, look at the example in the first comment.

[2020-12-21 12:27] alexandrzavalii opened #476 "eiejcckhtgjhggrlvdjnuddrrhbknjnhnnhuekubjthtkkkkcckhtgjhetekvlbccgkucfltrnclclijhhviddje"

[2020-12-21 14:53] #476 closed

[2020-12-21 20:38] felipemotarocha commented on #474
I'm having the same problem... did you manage to solve it?

[2020-12-21 20:56] georgetudor93 commented on #474
I didn't have the time to deal with it lately. I'll probably give it another try next week.

[2020-12-24 12:04] dvirben123 commented on #426
I will also be happy to help with some PR for the stepping feature, you can have a look at the example here :
https://cchanxzy.github.io/react-currency-input-field/

[2020-12-29 07:42] xrrrx1 commented on #441
same

[2020-12-29 14:04] xrrrx1 opened #477 "how i can put 0 into amount here?"
https://codesandbox.io/s/react-final-form-wreact-number-format-forked-cf0bz?file=/index.js

when i starts with zeros i dont see this zeros in my amount value. why?
![image](https://user-images.githubusercontent.com/31446309/103289318-f4ef3800-49f7-11eb-84f4-a4f9a330b5b0.png)

[2020-12-30 11:54] xrrrx1 commented on #477
you need
        onValueChange={values =>
          input.onChange(values.value);
        }

[2020-12-30 11:54] #477 closed

[2020-12-30 16:45] mdodge-ecgrow opened #478 "Can we get a commit with all the checks succeeding?"
That red X just looks bad.  Any way we can get a new commit with all checks succeeding?

[2021-01-04 14:50] #471 closed

[2021-01-04 15:57] nikhil-varma commented on #456
@s-yadav Noticing the name and keeping in mind backward compatibility, do you think keeping the name `renderText` is okay and pass another argument as `otherProps` or should we add a new Prop indicating that the method also returns the props with it?

[2021-01-05 05:20] s-yadav commented on #478
@mdodge-ecgrow There was one spec failing. It's fixed now. Also, the branch rule was incorrect earlier because of which one buggy commit went to master. Fixed now.

[2021-01-05 06:46] rj-david opened #481 "Issue with server-side-rendering (SSR)"
Seems like the changes in version 4.4.3 introduced this error which makes this package not compatible with SSR

[code]

[2021-01-05 06:52] #478 closed

[2021-01-05 07:19] linhtv97 commented on #481
Me too

[2021-01-05 10:09] AbodyAmer commented on #481
Me too on version 4.3.0

[2021-01-06 12:28] gustavocarvalho07 commented on #481
Same here!

[2021-01-06 14:27] rj-david commented on #481
@s-yadav hope you can check

[2021-01-06 16:36] pavelspichonak commented on #450
Any updates?

[2021-01-06 16:42] neosa commented on #481
Wtf? same problem

[2021-01-06 16:45] pavelspichonak commented on #379
Any other solutions?

[2021-01-06 17:21] masonforest opened #482 "Externally setting state is not reflected in input value"
## Describe the issue and the actual behavior

When you call `setState` outside of the `onValueChange` callback the state is updated but the value of the input element isn't updated or displayed. You can work around this by manually setting the value using `getInputRef` and a `setTimeout`. Is this expected behavior? Is there a simpler work around?

I'm building a cryptocurrency wallet and I'm wiri

[2021-01-06 19:10] s-yadav commented on #481
Shit. Will fix it soon.

[2021-01-06 19:56] #481 closed

[2021-01-06 20:00] s-yadav commented on #481
@rj-david @gustavocarvalho07 Fixed on 4.4.4

Let me know if the issue still persists.

[2021-01-07 01:29] roine commented on #366
To clarify, `format` only transforms the value in the UI.

**To make sure I get the right value in the `onValueChange` I used:**

[code]
So if I type 900, `val === "9.00"` and `floatVal === 9`, while `values.value === "900"` and `values.floatValue === 900`.

**I also had to fix the initial value**
[code]

`+ ""` is to coerce number to string, `?? "0"` is to default to "0" if value is undefined.

W

[2021-01-07 03:22] rj-david commented on #481
Confirming the fix. Thanks @s-yadav

[2021-01-07 17:14] s-yadav commented on #456
We can use the same method and pass others props as second parameter.

[2021-01-07 17:47] NicolasZim commented on #366
Thats works perfectly for me, also the other solution. Many thanks.

[2021-01-08 13:39] gustavocarvalho07 commented on #481
It is working now! Thank you so much, @s-yadav !!!

[2021-01-11 01:57] s-yadav commented on #482
@masonforest On your codesandbox link you are passing wrong prop.
It should be value instead of state. Plus values has all the type of values.
https://github.com/s-yadav/react-number-format#values-object
[code]

[2021-01-11 01:57] #482 closed

[2021-01-11 18:05] nikhil-varma commented on #455
@s-yadav Can I pick this up?

[2021-01-14 10:47] farmer911 commented on #349
@tenkij thank for your code-pen i had fixed the issue. Love you 3000

[2021-01-18 18:32] NicolasZim commented on #197
For everyone here(mainly if you are brazilian), check #366, there you will find the awnser.

[2021-01-20 20:39] croraf opened #491 "The minus for negative is put before the prefix"
## Describe the issue and the actual behavior
The minus for negative numbers is put before the prefix. For example  `-EUR 20,000.00` instead of `EUR -20,000.00` which would be more natural.

## Describe the expected behavior

## Provide a CodeSandbox link illustrating the issue
https://codesandbox.io/s/long-tree-k3sb5?file=/src/App.js

## Provide steps to reproduce this issue
1. In the input box t

[2021-01-21 05:27] #427 closed

[2021-01-21 11:22] cenaHara commented on #17
same issue @samuelpetroline any solution ?

[2021-01-21 15:38] samuelpetroline commented on #17
@cenaHara I ended up using [react-native-masked-text](https://github.com/benhurott/react-native-masked-text)

[2021-01-22 22:48] RobertDS07 commented on #417
Nothing?

[2021-01-27 16:35] j0n4t commented on #422
Another workaround is making a react function with the needed props:
`
const SmallTextField = (props: Object) =>
  <TextField size='small' {...props} />
`

And then, passing it to customInput:
`<NumberFormat  customInput={SmallTextField}   />`

[2021-01-28 04:06] cenaHara commented on #17
hi @samuelpetroline  Thank you, but when I use this lib, number jumps when input, will you be the same as me
 <TextInputMask
                    type={'money'}
                    placeholder={"$0.00"}
                    autoCorrect={false}
                    autoCapitalize="none"
                    keyboardType='decimal-pad'
                    returnKeyType="next"
                    value={v

[2021-01-29 05:00] MuhammadSalmanSiddiqui commented on #17
on using suffix instead of prefix currency is overlapping over number, how can i resolve it?

[2021-01-31 14:26] Spomky commented on #438
Hi,

I have the same problem. From my understanding, the library is lost because of the way the Intl API renders the values.
When the `format` parameter is set, `decimalSeparator` and `thousandSeparator` should be ignored, but it does not seem to be the case.
As an example, let say you want to input 1234.56 which should be rendered in Euro for a French user

[code]
The rendered value will be `1 23

[2021-01-31 22:54] kirkegaard opened #492 "Move cursor when using special characters in format prop"
## Describe the issue and the actual behavior
When using a format like `######-####` i would like the cursor to move after the dash when the user has typed the first 6 numbers. Is there any way of doing this already or is that a thing i would have to add?

## Describe the expected behavior
Cursor moves after special characters when using a format that has those.

## Provide a CodeSandbox link illu

[2021-02-01 12:46] kirkegaard commented on #113
@lopno did you ever find a way to do this?
I was actually looking for the same thing here https://github.com/s-yadav/react-number-format/issues/492

[2021-02-08 09:32] timneyens commented on #222
@s-yadav can this feature be reconsidered? I checked `react-input-mask` but that library seems to be abandoned. I am looking for an alternative for `react-text-mask` as this is also an abandoned repo. This library looks very good but we would need the IBAN number masking as well.

[2021-02-12 13:20] gfortaine commented on #438
It looks like that we have found a workaround by leveraging an additional package [@sumup/intl](https://www.npmjs.com/package/@sumup/intl) :

[code]

Ideally, it would be nice if we could have an Intl Locale Config prop, just like react-currency-input-field : https://www.npmjs.com/package/react-currency-input-field?activeTab=readme#intl-locale-config

[2021-02-15 12:36] RotaruAndrei1998 commented on #371
So, at this moment, do we have a solution for typing different characters and format the value after?

[2021-02-16 01:34] RenatoFranca commented on #95
If anyone is looking for a Brazilian phone number format option with 10 or 11 numbers, this is how I did:

[code]

[code]

[2021-02-16 09:29] R3DST0RM commented on #207
Stumbled upon the following PR: https://github.com/s-yadav/react-number-format/pull/444 after taking a look into this issue.

[2021-02-17 21:28] bryantee commented on #400
This just saved me a world of headache. Thanks @s-yadav! 🎉

[2021-02-18 12:12] LeComptoirDesPharmacies opened #494 "Input should be cleared when received undefined value"
## Describe the issue and the actual behavior
I have two input and a const base price :
Input A => Rebate (percentage)
Input B => Price (currency)
Base price = 10.00

When I set 5.00 in input B, input A is updated to 50 (it means 50% discount from base price).
When I remove price in input B, rebate is set as 'undefined' in state.
Input B value keep the last value : 50.

## Describe the expected be

[2021-02-18 14:58] LeComptoirDesPharmacies commented on #349
Hi @s-yadav,
Same problem here ;)

[2021-02-23 12:48] bacabro commented on #17
I also ended up using this one, it's working fine, totally recommend

[2021-03-02 09:02] alexlemons commented on #441
me also

[2021-03-02 12:21] Rey-Wang commented on #494
In earlier version, `NumberFormat` would only get cleared when set value to be null. After I upgrade to latest version `4.4.4`. it failed

[2021-03-02 12:27] Rey-Wang commented on #494
Did a simple test, found it should be work before `4.4.2`

[2021-03-02 22:10] jasan-s commented on #452
same here

[2021-03-04 10:13] lamhungypl commented on #267
any update?

[2021-03-05 04:37] brisingrBase commented on #17
This works for me but it won't allow me to put a decimal point followed by a 0

for example 10.05 or 10.50 both won't work but 10.55 works fine

[2021-03-06 03:01] Dellybro opened #495 "18 or more Decimal Scale"
## Describe the issue and the actual behavior

When using a decimal scale of 18+ the decimals i input change. For example, if i am to put in the value 1.12, it fire an onValueChanged with 1.12 and then immediately fires another on Change with 1.11.

## Describe the expected behavior

I would expect using 18 decimal scale that if i put in 1.12 the value would stay as 1.12 and not update to 1.11

##

[2021-03-07 18:34] nikhil-varma commented on #456
@s-yadav Since the solution has been merged, can we close this issue?

[2021-03-07 18:51] s-yadav commented on #455
Sure, go ahead.

[2021-03-08 09:54] s-yadav commented on #495
This is some strange behavior. only happens for `.12`
@ParthS007, @nikhil-varma anyone wants to look into this.?

[2021-03-08 10:06] nikhil-varma commented on #495
@s-yadav Sure! I can take a look at this. Shall I pick this up?

[2021-03-08 10:09] nikhil-varma commented on #495
@s-yadav I have noticed it is happening for `.12`, `.15` and `.18`....

[2021-03-08 14:02] nikhil-varma commented on #495
@Dellybro  @s-yadav This looks like a floating point issue with JS's `toFixed` :

In the `roundToPrecision` function, we are getting the `roundedDecimalParts`. This mis-behaves for a few cases as the video shows below:

<img src="https://im2.ezgif.com/tmp/ezgif-2-f8e1c9bad441.gif"  width="100%" />

The origination is from this line: `Math.ceil(parseFloat("0.".concat(afterDecimal || '0'))).toFixed(

[2021-03-08 17:07] jocelioswarmnyc commented on #458
Thanks @malj

[2021-03-08 18:36] Dellybro commented on #495
Thank you so much! I realized also if i take away "isNumericString" this works as expected so it has something to do with that boolean as well.

Also quick question, any way i can provide a max value for the field? I can't seem to find this in the documentation. If not is this an easy feature to implement?

Thanks so much!

[2021-03-09 18:03] nikhil-varma commented on #442
@c0d3x We have added an example for the same use-case in the documentation. Please visit this link: https://github.com/s-yadav/react-number-format#limit-input-value-to-a-maximum-limit just

[2021-03-09 18:38] nikhil-varma commented on #494
Thanks for reporting this issue. We will investigate and pick this up to provide a resolution soon. Keep an eye out for updates! :smile:

[2021-03-10 08:09] decoderid opened #499 "Undefined is not an object (evaluating 'newValue.length')"
## [React Native]
I'm trying to use NumberFormat as TextInput in React Native app but not working.

## Expected
[https://codesandbox.io/s/aged-violet-440ef?file=/src/App.js](https://codesandbox.io/s/aged-violet-440ef?file=/src/App.js)

## Code
[code]

[2021-03-10 08:14] nikhil-varma commented on #499
@decoderid Thanks for reporting this. To help us investigate this further, can you please provide more information about what is not working? Maybe the error log or something else? Thanks!

[2021-03-10 08:30] decoderid commented on #499
but this one is work for me: [#17](https://github.com/s-yadav/react-number-format/issues/17#issuecomment-401242039)

this error lead me to:

## react-number-format -> lib -> utils.js

[code]
### Error Log Without customInput={TextInput}
[code]
### Error Log With customInput={TextInput}
[code]

[2021-03-10 08:31] nikhil-varma commented on #499
@decoderid Thanks! Can you please provide the steps to reproduce this. It will be helpful to investigate this

[2021-03-10 14:00] huythangphan commented on #452
@s-yadav can you solve this?

[2021-03-10 14:41] nikhil-varma commented on #499
@decoderid Thanks! Unfortunately we don't support React Native at the moment, the renderText workaround may not work well since handling cursor shifting could become a problem. For now, I am closing this issue. Also, #17 is open so any conversation/ideas around this can be discussed over there. Thanks again!

[2021-03-10 14:41] #499 closed

[2021-03-11 07:55] Krakof opened #500 "Empty input on disable"
Hi,
I have toggle which can disable input and set value to `undefined`.

[code]
## Describe the issue and the actual behavior
On disabling input becomes empty and placeholder appears

## Describe the expected behavior
On disabling input has previous entered value

## Please check the browsers where the issue is seen
- [x] Chrome
- [ ] Chrome (Android)
- [ ] Safari (OSX)
- [ ] Safari (iOS)
- [ ] Fi

[2021-03-11 08:19] nikhil-varma commented on #500
@Krakof Thanks for reporting this. I was able to create a demo with the expected behavior. When disabling the input, the field is disabled with the value. I see that you are using a `customInput` for your use-case. Can you please provide a CodeSandbox demo link, if that's possible. This will help us investigate it a little better.

Here's the link to the demo I created for this use-case: https://c

[2021-03-11 08:53] Krakof commented on #500
Actually the whole flow is:
On enabling I need to set min value to `1` and on disabling set value to `undefined`. Please check this demo https://codesandbox.io/s/broken-mountain-yi48g?file=/src/App.js

[2021-03-11 20:54] sampurcell commented on #113
@kirkegaard Did you find a solution to your issue in #492
Was hoping for the same behavior

[2021-03-11 22:04] sampurcell commented on #492
This is also a fix that I would like to see. Thank you for mentioning it

[2021-03-12 08:59] nikhil-varma commented on #500
Hey, this doesn’t look like a library issue
### Simple answer
- To solve this, what you can do is to set the value to an empty string when it is disabled and to 1 if it is enabled.
- According to what I have understood debugging the React code, it looks like when you pass `undefined` to the input as value, it does not update it to `undefined` and neither does not empty it out. It will assign the p

[2021-03-12 13:11] s-yadav commented on #500
As @nikhil-varma mentioned you will have to set the value as empty string on undefined / null. If you want to keep it controlled.
[code]

[2021-03-12 13:12] #500 closed

[2021-03-12 15:19] 33550337 commented on #415
For an even simpler example:

[code]

See https://codepen.io/8128/pen/qBqgrWV

[2021-03-13 20:14] Krakof commented on #500
@nikhil-varma Thanks a lot for your explanation

[2021-03-14 17:46] nikhil-varma commented on #500
@Krakof You're welcome!

[2021-03-15 19:10] nikhil-varma opened #503 "Testing dev branch"
Testing dev branch

[2021-03-15 20:00] nikhil-varma commented on #495
@Dellybro This issue has now been fixed. While typing this issue shouldn't arise anymore. Closing this issue 😄

[2021-03-15 20:00] #495 closed

[2021-03-15 20:02] nikhil-varma commented on #456
@fedulovivan This issue has been fixed and merged! Closing this 🙂

[2021-03-15 20:02] #456 closed

[2021-03-16 07:27] nikhil-varma commented on #494
Hey, this doesn't seem like an issue in the library. The ideally it is not advised to pass `null` or `undefined` to clear out empty input fields when you want it to be controlled. The recommended way is to pass an empty string to clear it out. To get more information how input behaves and how React treats it please refer to this issue: #500

Having said this, I will be closing this issue but feel

[2021-03-16 07:27] #494 closed

[2021-03-20 18:23] nikhil-varma commented on #435
Hey, this issue is now fixed and merged. Thanks for reporting! Closing this issue!

[2021-03-20 18:39] nikhil-varma commented on #435
This issue is nor fixed and released as a patch! Thanks for reporting! Closing this issue.

[2021-03-20 18:39] #435 closed

[2021-03-21 06:24] dtp5 commented on #495
In v4.5.1, the component still does not receive `onValueChange` events for `value`s exceeding ~15-17 decimals with `decimalScale={18}`.

[code]
...produces `1,234.0000000000012`.

[2021-03-24 22:17] jafidiesel commented on #349
I'm not very sure but i think maybe it's forcing formatting the value since it's a number greater than a thousand. By default if thousandSeparator prop it's not present it shouldn't force formatting, but it's a posibility.

[2021-03-25 13:44] BrianCorbin opened #506 "String formatting with decimals <= "0.00000001" are converting wrong"
#### Describe the issue and the actual behavior
When formatting a string <= "0.0000001", it's converting it into

This is a new issue as of 4.5.0, and the current latest working version without this bug I have found is 4.4.4

#### Describe the expected behavior
It should be converting this into 1e-7, not 1e7

#### Provide a CodeSandbox link illustrating the issue
https://codesandbox.io/s/ppo1kvlwp

[2021-03-25 13:58] nikhil-varma commented on #506
Hey @BrianCorbin ! Thanks for reporting this issue. We will  investigate and pick this up to provide a resolution soon. Keep an eye out for updates!

[2021-03-25 15:36] jafidiesel opened #507 "onValueChange returns wrong values when using '.' as thousandSeparator and ',' as decimalSeparator"
#### Describe the issue and the actual behavior
**Issue**: onValueChange returns wrong values when using **'.'** as thousandSeparator and **','** as decimalSeparator

**Actual behavior:** externally the amount (value) of NumberFormat is set to 1.398,774 having **'.'** as  thousand separator and **','** as decimal separator but after onValueChange it returns this NumberFormatValues
`
{
floatValue:

[2021-03-25 15:57] LeComptoirDesPharmacies commented on #426
Hi,

Same problem here, we did not succeed to make Arrow Up and Arrow Down work.

Yours faithfully,
LCDP

[2021-03-25 16:52] nikhil-varma commented on #507
Thanks for reporting this issue. We will investigate and pick this up to provide a resolution soon. Keep an eye out for updates! 🙂

[2021-03-26 16:07] alvarotrigo opened #508 "Pass custom attributes and props"
I'm trying to add the `ref` attribute with the `inputRef` value:
I've read other issues such as https://github.com/s-yadav/react-number-format/issues/295 but I don't think any solves this problem so far?

[code]

I'm getting the following error:

[code]

So far, and following this other issue https://github.com/s-yadav/react-number-format/issues/422 the only way to fix it seems to be by adding `//

[2021-03-26 17:57] jafidiesel commented on #507
After a lot of testing and pair programming i understood what was my error.

tl;tr be sure to update the NumberFormat value from the outside without the thousand separator if you use a different separator than the traditional one.

Despite the thousand separator being specified if you (for translation reasons like me) want to choose a different combination of decimal and thousand separators than t

[2021-03-26 18:05] a414137191 opened #509 "wrong value when decimalScale = 8"
when i set decimalScale = {8} and inputs 10 , it converts two times.
 => {formattedValue: "10.00000001", value: "10.00000001", floatValue: 10.00000001} and {formattedValue: "2e8.", value: "28.", floatValue: 28}
which i got "28." as result when i input 10

 or 11 converts to {formattedValue: "11.00000001", value: "11.00000001", floatValue: 11.00000001}
and then {formattedValue: "3e8.", value: "38."

[2021-03-26 18:09] nikhil-varma commented on #507
@jafidiesel Sounds good! Thanks for the update! Closing this issue 🙂

[2021-03-26 18:09] #507 closed

[2021-03-26 18:14] alvarotrigo commented on #270
Did you find any workaround?

[2021-03-26 18:35] #509 closed

[2021-03-27 06:04] kenneho opened #510 "[feature request] Add support for "1M" (for millions) and "1B" (for billions)"
#### Describe the issue and the actual behavior

If I haven't overlooked something, it's not possible for a user to input `1M` (for millions) and `1B` (for billions). Using say `B` as suffix is supported, but it's not possible for a uses to set this suffix directly within the field.

#### Describe the expected behavior

I'd like a use to be able to seamlessly switch between inputting `1M` and `1B`

[2021-03-27 13:46] nikhil-varma commented on #455
@fedulovivan I have tested this and the behaviour is as expected.

Setting `fixedDecimalScale` to `true` forces the value to as per the `decimalScale` provided. But setting that to `false` will not change it back to the original because it doesn't mean that there is no decimal value but it can be a variable within the decimal scale range.

Ex: If the value is 123.2 and `decimalScale` is set to 3,

[2021-03-27 13:46] #455 closed

[2021-03-27 13:56] nikhil-varma commented on #510
@kenneho Thanks for the request. As a part of the core library, I don't think this should be supported because the amount of complexities this would add would introduce tons of edge cases'. Imagine if someone adds `1M` as the value, then the decimal scale handling and other details would become fairly complex to handle. So considering these things, it won't come as a part of this library.

I hope

[2021-03-27 13:56] #510 closed

[2021-03-28 06:53] kenneho commented on #510
No worries. I don't mind handling this edge case in my own code, but don't quite see how. For example, event entering the letter "M" is not allowed. If you have a suggestion for how to handle this edge case myself, I'd really appreciate it.

[2021-03-28 17:20] nikhil-varma commented on #450
The fix for this issue has been merged and released. Thanks again for reporting!

[2021-03-28 17:20] #450 closed

[2021-03-29 13:14] pandaiolo opened #515 "[4.5.2] With prefix, typed numbers appear with incorrect order"
**This bug is a regression from the latest commit, a431cd6c2091cc2fe87cabbb1803b63f54dbb49a . It addresses full selection replacement but disrupts caret placement.**

---

#### Describe the issue and the actual behavior

- When using tab to focus, or selecting all content in the input box, before typing a new value
- And when there is a prefix provided
- The caret after typing the first character

[2021-03-29 18:34] nikhil-varma commented on #515
Hey @pandaiolo! Thanks for reporting this issue.  We will investigate and pick this up to provide a resolution soon. Keep an eye out for updates!

[2021-03-29 21:34] #257 closed

[2021-03-30 17:03] nikhil-varma commented on #515
Hey @pandaiolo this issue is fixed and released as a path v4.5.3. Thanks again for reporting! 🙂

[2021-03-30 17:04] #515 closed

[2021-03-31 20:30] sturmvera opened #518 "The types of the NumberFormat don't match the underlying javascript"
"react-number-format": "^4.5.2",

![image](https://user-images.githubusercontent.com/81712918/113206909-51205d00-9270-11eb-8921-3bec2aba1d18.png)

[2021-04-01 01:03] a414137191 opened #519 "OnValueChange convert input to wrong number"
[code]

when i use NumberFormat with decimalScale={8} and enter 997.00000002, it will convert to 1088.

[2021-04-06 02:32] s-yadav commented on #519
I do maintain it @alvarotrigo. Just not getting an active time for it.
@a414137191 can you create a sandbox with breaking case.

[2021-04-06 03:39] s-yadav commented on #506
Hey @BrianCorbin, I think the real root cause is that the NumberFormat does not support exponential numbers as value prop. So one solution is to use and pass value, or formattedValue from the values object.

The issue was not visible on 4.4.8 as we were converting it to fixed value, so basically it was removing the decimal part of it.
And it got visible by the change we introduced on the v4.5.0 (h

[2021-04-06 03:42] s-yadav commented on #519
@nikhil-varma. looks related to #506, but float values are not used here. @alvarotrigo a codesandbox will help us to debug better.

[2021-04-06 13:48] a414137191 commented on #519
https://codesandbox.io/s/number-format-hiitb?file=/package.json

[2021-04-06 19:25] brunasilva-obj opened #520 "[QUESTION] When inputmode=numeric is added?"
#### Describe the issue and the actual behavior
We are doing snapshot testing in a component that use NumberFormat and when we run this test locally the input add
inputmode=numeric but when we run this test on server the test fails because the input does not add inputmode=numeric

Nextjs: 6.1.1
React: 16.8.6
Jest: 23.6.0
Node: 12.16.1
NumberFormat: 4.5.3

#### Describe the expected behavior
Both l

[2021-04-07 03:25] s-yadav commented on #520
So, adding inputMode=numeric has an issue on iPad and iPhone, the library can't guess the device on SSR. Because of which it only adds inputMode=numeric after mount.
See this reference.
https://github.com/s-yadav/react-number-format/blob/master/src/number_format.js#L930

As we are adding it after mount, it makes sure, there is no hydration issue.

[2021-04-07 03:39] s-yadav commented on #492
This is not implemented on the lib as of now. This will add few complexities and corner cases. The same thing applies to delete. I will mark this as an enhancement. Also, as it doesn't break the user experience, so it will not be high priority improvement now.

Just listing down the case we might have to handle with this. For documentation purpose.

- Will need to move the cursor after the format

[2021-04-07 03:40] s-yadav commented on #519
Thanks, @a414137191. Will check.

[2021-04-07 03:42] s-yadav commented on #518
Oops. Will fix it.

[2021-04-07 03:49] s-yadav commented on #508
The ref issue should be fixable, as we extend input the ref type is wrongly set. Will fix the ref issue.

For types of other custom props, need to explore a little.

[2021-04-09 04:00] s-yadav commented on #508
Ohh, checked. Actually, this is not an issue. NumberFormat is a component, and inputRef is of type HTMLInputElement, which is why it throws an error.

Please refer. https://github.com/s-yadav/react-number-format/blob/master/README.md#getting-reference

Let if know if this doesn't fix the issue.

[2021-04-09 04:00] #508 closed

[2021-04-09 06:27] s-yadav commented on #519
I am able to reproduce and found the root cause. So the real culprit is calling .toString() on the number which does not handle the scientific notation properly.

Looking into the best option to convert scientific notation to normal decimals. Will fix the issue soon.
As the method available on JS for this purpose doesn't properly work for this use case, using a custom function might be a solution.

[2021-04-09 08:46] LeComptoirDesPharmacies commented on #369
Hi @s-yadav and @iloveip,

Same request here, being able to display mask only when input focused or have value would be really user friendly.

Yours faithfully,
LCDP

[2021-04-09 17:13] alvarotrigo opened #521 "Allow specific characters to be typed"
I've been checking the docs but it seems there's no easy way to say "I want only numbers AND this one or two special characters". Correct me if I'm wrong.

For example:

To allow the user to type `$100` or `€100`.
Or `100` and `100+`

A function that allows us to dynamically decide what characters to accept would be nice to have.
For example:

[code]

[2021-04-09 17:18] alvarotrigo commented on #521
I've been checking the `format` option, but it seems there's no way to define an "optional format" with it.
Perhaps another solution to this would be to allow using a regex for this cases.

For example:

To allow `1000+` or `1+`:

[code]

[2021-04-11 06:09] s-yadav commented on #521
Humm, it's not supported right now. One hack is to use `onKeyUp` and set the suffix based on what character is typed (ie +). But the backspace (deleting + char) will not work with this approach.

We probably can look at this as a new feature, but there are few complexities in implementing it which we can discuss.

One use case which is on top of my mind is, what if a user types the additional char

[2021-04-11 07:23] #506 closed

[2021-04-11 07:50] s-yadav commented on #519
- This is fixed in 4.5.4. Let me know if still face this issue.

[2021-04-11 07:52] #519 closed

[2021-04-11 07:57] #518 closed

[2021-04-12 08:16] alvarotrigo commented on #521
Probably the easiest route is providing the `isCharacterAllowed ` function.
Then developers can create any logic they want inside it. They even can define a specific position where the character is allowed.
For example, if I want to allow the use of `+` at the end, I would return `false` on that function when I detect `+` was introduced at the end (even numbers). I could use regex on my side for t

[2021-04-14 19:20] aanchalgera opened #523 "Fractions"
Is there anyway to allow only fractions?

e.g 2:3

[2021-04-15 09:24] AI111 opened #524 "Incorrect decimalScale behaviour with numbers less then e-7"
with very small numbers rounding inside`decimalScale` works incorrect, it just skips the exponential part

` <NumberFormat value={-3.1e-7}  decimalScale={2}    />`  will show `-3.00` instead of `0.00`

https://codepen.io/sasha-andreev/pen/KKaeKZP

[2021-04-15 11:21] alvarotrigo commented on #508
@s-yadav is it possible to pass all props into NumberFormat component?
I seem to always get a typescript error preventing compilation when doing this:

[code]

[code]

[2021-04-16 07:27] s-yadav commented on #524
Which version are you in. The codepen link seems to working, and the latest version has exponential number fixes

[2021-04-16 07:29] s-yadav commented on #523
The library does not support the fraction values. I am not sure if we will introduce it in the scope of this library.

[2021-04-16 07:29] #523 closed

[2021-04-16 07:35] s-yadav commented on #521
Yes, this seems to be a better option.

But to note the value can be updated in multiple ways,
- Paste longer strings.
- Prop value
- Key input

This might change a lot of internal logic. We will have to parse the input value, char by char, and give the control to the parent.

Let's keep it as an improvement task, and will look more into it, if more people ask for it, or during the next major refa

[2021-04-16 07:47] s-yadav commented on #508
From the error it looks like the type coming in props for defaultValue is different from what defined in NumberFormat.

We have a custom type for defaultValue.
https://github.com/s-yadav/react-number-format/blob/master/typings/number_format.d.ts#L6

and
https://github.com/s-yadav/react-number-format/blob/master/typings/number_format.d.ts#L42

[2021-04-16 07:48] s-yadav commented on #508
There is one PR related to this which will allow `readonly string[]` but haven't got any update on that.

https://github.com/s-yadav/react-number-format/pull/464

[2021-04-16 09:15] alvarotrigo commented on #508
Yeah, but what I found strange is that I was not sending the `defaultValue` on my props.

I managed to make it work by filtering defaultValue and value from the props.

[code]

[2021-04-16 12:12] AI111 commented on #524
@s-yadav Codeepen was made from demo link
it uses the master branch
![Screenshot 2021-04-16 at 15 09 48](https://user-images.githubusercontent.com/5594299/115022310-e43ed100-9ec5-11eb-894f-247df1f084d7.png)

[2021-04-16 12:51] s-yadav commented on #524
I think it's picking up from cache. As the endpoint is not version managed. Can you clear cache and try. I don't get this error.

[2021-04-16 12:54] s-yadav commented on #524
I will update it to pick from unpkg.

[2021-04-16 12:58] AI111 commented on #524
yep
you were right
it's an issue with the old version

[2021-04-16 12:58] #524 closed

[2021-04-16 14:06] s-yadav commented on #508
I think this was because of how typescript infers the props object. If value and defaultValue is not filtered, it will try to match complete `React.InputHTMLAttributes<HTMLInputElement>` and NumberFormat type, finding a mismatch for a this types.

But when we extract it out, now typescript knows props is excluding defaultValue and value.

[2021-04-16 15:57] alvarotrigo commented on #508
I see, thanks!

[2021-04-19 07:52] atefehnaseri opened #525 "numbers in other keyboard's language isn't typed on input"
#### Describe the issue and the actual behavior

#### Describe the expected behavior

#### Provide a CodeSandbox link illustrating the issue

#### Provide steps to reproduce this issue

#### Please check the browsers where the issue is seen
- [ ] Chrome
- [ ] Chrome (Android)
- [ ] Safari (OSX)
- [ ] Safari (iOS)
- [ ] Firefox
- [ ] Firefox (Android)

[2021-04-21 08:10] viclafouch commented on #264
I need it too !

[2021-04-21 09:18] viclafouch opened #527 "Formik + Material Ui + React number format"
#### Describe the issue and the actual behavior

Hello, I have a problem with the library to make it work with 2 others, formik and Material UI. I can't get the parseFloat value and not lose the focus. There is a conflict between the onChange and the onChangeValue.

[code]

#### Provide a CodeSandbox link illustrating the issue

https://codesandbox.io/s/angry-bose-nd2i9

#### Provide steps to repr

[2021-04-21 09:42] #527 closed

[2021-04-23 05:59] doniyor2109 opened #528 "How to reset value"
#### Describe the issue and the actual behavior
Currently `NumberFormat` works with `null` and `undefined` values. However when component updates with `null` or `undefined` value, it will look for previous value and preserves old value without reseting.

#### Describe the expected behavior
I have case where I use `null` as initial value and user can reset value again back to `null`. I try to set u

[2021-04-23 16:54] nikhil-varma commented on #528
Hey @doniyor2109 Thanks for reporting. A solution with the explanation of this behaviour is provided in this Issue: #500 . I would request you to please have a look at that to get an idea of how this can be achieved. I will be closing this in support of that explanation. Please feel free to add any questions/comments in case of any doubts. Thanks!

[2021-04-23 16:54] #528 closed

[2021-05-06 17:03] AlexR0v commented on #452
there was the same problem. Can you tell me how to solve it?

[2021-05-07 12:01] michal-kurz opened #531 "Feature request : Implement `getValues` method to access value object imperatively via ref"
#### Desired feature
 I want to access the value object (= `ReturnType<NumberFormat.getValueObject>`) inside `onKeyDown` callback.
 It would be nice if I could get the current values directly from `NumberFormat` instance by calling a method on it, such as:

[code]
To my best knowledge, there is no native way of doing that.

#### Current workaround
I'm currently using the following helper function

[2021-05-07 16:26] codypearce opened #533 "All zero string decimals (e.g., '100.00') strips the '.00' and displays as '100.'"
#### Describe the issue and the actual behavior
Values in the app I am working on are passed like this '100.00', with a `decimalScale` of 2, and `isNumericString`, like this.

[code]

The result in the app
<img width="207" alt="Screen Shot 2021-05-07 at 4 39 22 AM" src="https://user-images.githubusercontent.com/12564956/117444350-36d04380-aeee-11eb-8d26-82b71512b073.png">

#### Describe the expect

[2021-05-11 16:36] nikhil-varma commented on #533
Hey @codypearce Thanks for reporting this issue. We will investigate and shoot out a fix soon. Keep an eye out for updates 🙂

[2021-05-13 06:41] nikhil-varma commented on #520
Hey @brunasilva-obj Closing this issue in consideration of the resolution provided above. Please feel free to reopen this if you have any further questions or any concerns 🙂

[2021-05-13 06:41] #520 closed

[2021-05-13 07:57] dev2-piniada opened #537 "type script 4.2.2 error"
TypeError: Cannot read property 'replace' of undefined
makeMaskFromFormat
src/_helpers/text-field-helper.ts:137
  134 | }
  135 |
  136 | export function makeMaskFromFormat(format: string, numberMaskChar: string) {

  138 | }
  139 |
  140 | export const maskedDateFormatter = (mask: string, numberMaskChar: string, refuse: RegExp) => (

[2021-05-13 16:54] nikhil-varma commented on #537
@dev2-piniada Can you please provide more information and an example showing this use-case? Thanks!

[2021-05-13 17:02] nikhil-varma commented on #226
Closing this issue in consideration of the resolution provided. Please feel free to open this in case of any concerns or questions

[2021-05-13 17:02] #226 closed

[2021-05-22 20:16] crypticmind commented on #390
I'm also facing this issue.

[2021-05-25 11:18] sarujo opened #540 "Accessibility issue with thousand separator as " ""
#### Describe the issue and the actual behaviour
If the thousand separator is passed in as "." or "," then the number is read as a whole (1.000 = one thousand), but if thousand separator is passed in as space (" ") it is read as as separate numbers (1 000 = one zero zero zero, or 22 444 = twenty two, four hundred and forty four)

#### Describe the expected behaviour
Empty space as a separator shou

[2021-05-26 01:48] ReganxZheng opened #542 "onChange is not triggered when negative opeartor deleted from the value"
#### Describe the issue and the actual behavior
Delete '-' symbol for negative value is not triggering the onChange

#### Describe the expected behavior
Delete '-' symbol before the negative value should also trigger the HTML onChange

#### Provide a CodeSandbox link illustrating the issue
[Sandbox Example](https://codesandbox.io/s/fervent-violet-gdp7k?file=/src/App.js)

#### Provide steps to repr

[2021-05-26 11:51] iloveip commented on #369
Hi @s-yadav,

Could you please reopen the issue?

[2021-05-26 14:43] nikhil-varma commented on #540
Hey! Thanks for reporting this issue. We will investigate and shoot out a resolution soon. Keep an eye out for updates 🙂

[2021-05-26 14:43] nikhil-varma commented on #542
Thanks for reporting this issue. We will investigate and shoot out a resolution soon. Keep an eye out for updates 🙂

[2021-05-28 09:58] canerasa93 opened #545 "Number Controls UP Down Arrow"
How can i add up down number controls to input?

[2021-05-28 13:08] R4VANG3R commented on #312
To get a different keyboard without changing the type you can use the `inputMode` attribute https://developer.mozilla.org/en-US/docs/Web/HTML/Global_attributes/inputmode

[2021-05-28 18:36] NicolasZim commented on #277
Using 4.4.1v

Don't know if it's in fact the same reason or problem, but im having an issue about infinite loop in my component that uses NumberFormat.
If you type anything on the field, you got stuckin a loop that re-render with a new value, as if im pressing `0` on my keyboard.

You can check the demo [here](https://stackblitz.com/edit/inputmask-reactjs-typescript-2ejtzv?file=Masks%2FMaskDecimal

[2021-05-31 15:58] someden opened #547 "No mask when paste phone with suggestions in Chrome at iOS"
No mask when paste phone with suggestions in Chrome at iOS

Steps to reproduce:
1. Open chrome://settings/addresses and add some phone for suggestions
2. Open example in Chrome: https://lolin.csb.app/
3. Use Chrome suggestions instead of standard keyboard input

Example code: https://codesandbox.io/s/modest-brook-lolin?file=/src/index.js

react-number-format: 4.6.0
Chrome: 90.0.4430.216
iOS: 14.5.

[2021-06-01 06:58] Blackfin opened #548 "Can't delete values in input feeld if it contains special characters"
#### Describe the issue and the actual behavior
Can't delete values in input feeld if it contains special characters like (-

#### Describe the expected behavior
Values in input field with special characters has been deleted

#### Provide a CodeSandbox link illustrating the issue

https://user-images.githubusercontent.com/716735/120280053-060ae080-c2d9-11eb-87de-2a155026de51.mp4

https://user-imag

[2021-06-02 12:04] dayoolacodes commented on #452
has this been resolved?

[2021-06-02 12:12] nikhil-varma commented on #548
Hey! Thanks for reporting this issue. We will investigate and shoot out a resolution soon. Keep an eye out for updates 🙂

[2021-06-02 12:39] jologz commented on #452
No, it has not.  The author won't approve my PR so I just created our own component, instead.

[2021-06-02 15:42] s-yadav commented on #452
I will take a look into the PR today. Probably I need to set a reminder on this things. 😔

[2021-06-02 16:13] dayoolacodes commented on #452
ok great

[2021-06-02 17:19] s-yadav commented on #452
Hey @jologz, tested your code, and everything looks working. I have left some minor comments. Can you check that? And then the PR is good to go.

[2021-06-02 17:40] dayoolacodes commented on #452
Hi @s-yadav, I also notice that a long keypress on backspace does not clear the input field. Will this PR solve that issue also?

[2021-06-02 17:43] dayoolacodes commented on #452
Hi @s-yadav, I also noticed that a long keypress on the backspace key does not clear the input field. Will this PR solve that issue also?

[2021-06-02 19:06] s-yadav commented on #452
Hummm, It could be. let's check once I make a new release.

[2021-06-06 18:32] nikhil-varma commented on #545
@canerasa93 Do you mean something similar to an input type number?

[2021-06-07 07:05] thanmaic opened #549 "Not able to type decimal numbers when used in material ui textfield"
#### Describe the issue and the actual behaviour
I tried to use the react number format component as inputComponent to the material ui textfield, not able to enter decimal numbers. When trying to input decimal numbers with (.) the textfield losses out focus.

<img width="445" alt="Screenshot 2021-06-07 at 12 27 23 PM" src="https://user-images.githubusercontent.com/50735542/120973363-76f44180-c78c-

[2021-06-07 07:56] nikhil-varma commented on #549
@thanmaic Thanks for reporting. It would be helpful for the investigation if you can provide the code snippet that you're using to work with this. Thanks!

[2021-06-07 15:06] s-yadav commented on #452
This is available on 4.6.1 now.

[2021-06-07 15:08] s-yadav commented on #548
This is fixed on 4.6.1.
Duplicate of #452

[2021-06-07 15:08] #548 closed

[2021-06-07 16:57] s-yadav commented on #420
Not able to reproduce the issue. Seems it's no longer there on the latest release. Please reopen if the issue persists.

[2021-06-07 16:57] #420 closed

[2021-06-07 16:59] #452 closed

[2021-06-07 18:48] nikhil-varma commented on #533
@codypearce Just a quick work around until the issue is being investigated. You can use the `fixedDecimalScale` prop to match the leading zeros.  Here's a sample Codesandbox link: https://codesandbox.io/s/zealous-oskar-wjnqh

From the document for `fixedDecimalScale`

I will get back to you with an update on the issue resolution. Thank you for your patience.

[2021-06-08 05:37] nikhil-varma commented on #533
@codypearce Update on the issue

So the problem is that all 0s after the decimal point becomes an exceptional case for conditions `roundedDecimalParts[1] || ''`. So instead of passing, -in this case, `00` to the `limitToScale` function, it passes `''` and that created this issue.

The PR #501 solved this issue #495 . Please refer to that for the idea of the resolution.

The PR is in review and wil

[2021-06-08 11:15] vnd-ranga commented on #549
on iphone browse open numeric keyboard without decimal

[2021-06-08 11:34] thanmaic commented on #549
I think this issue is with respect to the material ui textfield inside a popover component and mostly not related to react-number-format. Thanks. I will update on this soon.

[2021-06-08 11:34] #549 closed

[2021-06-09 13:06] nikhil-varma commented on #533
@codypearce This issue is now fixed and released in v4.6.2

Closing this issue in light of the fix. Feel free to open/ask questions if required.

[2021-06-09 13:06] #533 closed

[2021-06-09 13:46] nikhil-varma commented on #411
Closing this PR since we have removed the dist files as a part of PR #538

[2021-06-09 13:46] #411 closed

[2021-06-09 13:49] nikhil-varma commented on #431
@MakaryHryshkin Are you still facing this issue?

[2021-06-09 14:53] rkulinski commented on #431
@nikhil-varma I am. Seems to still be an issue.

[2021-06-09 14:54] nikhil-varma commented on #431
@rkulinski Which version of the library are you using?

[2021-06-09 14:55] rkulinski commented on #431
`4.6.2`

[2021-06-09 14:56] nikhil-varma commented on #431
@rkulinski Thanks for the info. We will investigate this and keep you posted.

[2021-06-09 15:05] nikhil-varma commented on #431
@rkulinski Thanks! Will let you guys know once there is an update on this!

[2021-06-09 21:01] luisalbertonunes opened #552 "How to make react-number-format format the input conditionally?"
Hello everyone, everything good? In Brazil there are two identification numbers cpf and cnpj, I need to format these two values ​​in the same input. However it doesn't work when I try to do it.

`format={ props.value?.length < 15  ? "###.###.###-##" : "##.###.###/####-##"}`

The input should change the mask according to the number of characters typed. But it doesn't work for me

Here is the codebo

[2021-06-10 12:09] pedrohenriiz opened #553 "How to show one value but the field value be different?"
In my form, there is some inputs for the price of a product, the discount value and the discount percentage. When a user types a value on discount value or discount percentage, a function is called calculating the discount percentage or discount value.

Example 1: Value 100 - Discount value 0 - Discount percentage 0

If the user changes the discount percentage to 10%, the discount value should cha

[2021-06-13 12:51] nikhil-varma commented on #552
Hey @luisalbertonunes , I made some slight changes and here is the link how you can conditionally format it: https://codesandbox.io/s/number-format-custom-conditional-formatting-x9w50

Also a thing to note here is that the condition pivots at length 1 but the issue here is that your format accepts only 11 character (_counting just the #_). The fail case might never come up because the format will

[2021-06-15 08:02] Grawl commented on #312
@R4VANG3R there is no `[inputmode]` that works like `type='number'` keyboard on iOS https://codepen.io/Grawl/pen/RwpEKzQ

`decimal` have `,` button but I want `.` button

[2021-06-15 08:11] Grawl commented on #189
@s-yadav

Type mismatch:

[code]

(from `node_modules/@types/react/index.d.ts)

[2021-06-15 15:43] s-yadav commented on #540
This is one classic issue with masking/formatting input values. As all the formatting is happening inside an input tag, we don't have much control on how the input value should be treated by screen readers. Not sure how this can be fixed on the library, but open for any approach if anyone knows.

One approach people fix this is by formatting characters only on blur, and on focus remove all formatt

[2021-06-15 15:48] s-yadav commented on #553
I don't think this would be possible, as input is dynamic people can update the number (decimal part as well).
I would suggest to show the discounted percentage in a non editable field or normal element, in which you can maintain full value in state and on visual just show the 4 decimal part.

[2021-06-15 15:51] s-yadav commented on #547
I am assuming its not triggering proper onChange event. Need to check.

[2021-06-15 16:04] s-yadav commented on #542
Looks like a bug. Can confirm it. Looks like updating number manually on keyDown is preventing react to fire onChange event.

[2021-06-16 14:18] R4DIC4L commented on #264
I see that onValueChanged is called on blur with an object having the keys, but undefined in all of them. onChange is also called right after this (I saved the value from onValueChanged for using later in onChange). I checked this in conjunction with material-ui text field as below.

Any way of by-passing this blur function? It is making my text field unusable with redux-form, as the field is clea

[2021-06-17 05:26] s-yadav commented on #264
@R4DIC4L Can you create a sandbox with the example above. It will be easier to debug that way.

[2021-06-17 07:03] R4DIC4L commented on #264
@s-yadav Here is a code sandbox: https://codesandbox.io/s/material-ui-number-format-e1tph?file=/demo.js.

I found the problem, the value returned in the redux-form submit function is sending the formatted text instead of number. I cannot explain this as I am sending the floatNumber in the onChange handler (as can be seen in NumericFormat component from numeric-format.js file). Any ideas why this i

[2021-06-17 07:28] R4DIC4L commented on #264
@s-yadav Please let me know if you want me to add a separate GitHub issue for this, I am not sure it is related to the unformatted value item. Although, it might be related to the onValueChange being triggered on blur without an onChange event with the undefined values.

[2021-06-17 18:53] nikhil-varma commented on #264
@R4DIC4L Thanks for the CodeSandbox link.. I am investigating this one but in the meantime, as you suggested.. can you please create another issue with the steps to reproduce it..

Based on some preliminary investigation.. I am unable to see `onValueChange` being triggered on blur although I am still trying to debug this situation. Let's pick this up in a [new issue](https://github.com/s-yadav/rea

[2021-06-18 05:21] R4DIC4L opened #554 "[material-ui][redux-form] When using NumberFormat with material-ui TextField in a redux-form and thousandSeparator, the field value is transformed to a string even though floatValue is passed to onChange handler"
#### Describe the issue and the actual behavior
When using thousandSeparator integrated with material-ui TextField and with the control as a field in a redux-form form, after inputting a number (can be easier seen when value has more than 3 digits), the field is blurred and the value is converted to string, even though the floatValue is sent via onValueChange to the redux-form onChange handler.

#

[2021-06-18 05:24] R4DIC4L commented on #264
@nikhil-varma @s-yadav I have added item https://github.com/s-yadav/react-number-format/issues/554 for the above scenario.

[2021-06-18 05:25] nikhil-varma commented on #264
@R4DIC4L Thanks!

[2021-06-18 15:26] silvergraphs commented on #422
Please fix it

Not worked for me

[2021-06-22 11:35] Toumash commented on #349
Still relevant today

[2021-06-22 12:01] pedrohenriiz commented on #553
Sorry for the delay to respond you, I was busy. So, in the end, we decided to use a fixed decimal scale that matches our requirements and we didn't had to do something like you proposed, but thanks for your help anyways.

[2021-06-22 12:01] #553 closed

[2021-06-22 13:47] blackfin opened #555 "Access raw value in onChange event outside of component"
#### Describe the issue and the actual behavior
Access raw value in onChange event, before format applied.

#### Describe the expected behavior
Need a function which can be triggered before on

Uploading Huawei 7.3.1.mp4…

Change event fired.
In this function need access to input raw value, before format will be applied.
Like some preprocess on input value before passing it to onChange function ca

[2021-06-22 16:36] natterstefan commented on #481
Hi @s-yadav,

I am sorry to tell you that I have the bug still with `"react-number-format": "4.6.3"`. Can you still confirm that it's not an issue anymore?

Thanks for your time.

[2021-06-22 18:34] nikhil-varma commented on #552
@luisalbertonunes I will be closing this issue in light of the response. If you still face any issues or have any questions, please feel free to continue on this thread or re-open it if required. Thanks again for your patience 🙂

[2021-06-22 18:34] #552 closed

[2021-06-22 18:34] nikhil-varma commented on #545
@canerasa93 Closing this issue in light of the response provided. If you have any questions or need further help, please feel free to continue on this thread or re-open if required. Thanks! 🙂

[2021-06-22 18:34] #545 closed

[2021-06-22 18:39] nikhil-varma commented on #555
@blackfin I would request you to please refer: #264  to get some ways to resolve this issue. Please let me know if you need any further help and if the discussion has helped you with a workaround. Thanks!

[2021-06-22 18:46] nikhil-varma commented on #349
@Toumash That would be great! Let me know how I can help you with this! Thanks!

[2021-06-23 10:40] Toumash commented on #349
@nikhil-varma You can review the [attached PR](https://github.com/s-yadav/react-number-format/pull/556) :)

[2021-06-24 09:56] Toumash commented on #349
For those who are waiting for the PR to be merged: you can use customInput

[code]

[2021-06-24 16:29] eliobricenov commented on #264
I agree on this, I would suggest having the same props that we have available in the `onValueChanges` handle in the `onChange` event. This becomes troublesome with controlled inputs because the value of the input in the state might not always change due to a user interaction (`useEffect` for example).

@nikhil-varma

[2021-06-24 16:46] FelDev commented on #366
I came up with another (simpler?) solution
[code]

I'm multiplying by 100 onValueChange to deal with cents but dividing the linked value by 100.
Not battle tested yet, but no infinite loops so far + the formatting I want.

[2021-06-25 11:36] BrianValente commented on #455
The component should't render different depending on the previous state, it's confusing.

[2021-06-25 13:44] itzAki07 opened #557 "IOS numeric mode not supported"
#### Describe the issue and the actual behavior

In IOS, the Entire keyboard is shown instead of the number pad coz of type=text. It has to be number. Coz of this if we use this component for number input in a payment area, the user can enter letters and symbols. We can restrict from UI still it should show numeric keyboard instead alphanumeric.

#### Describe the expected behavior
Show only numer

[2021-06-25 15:02] nikhil-varma commented on #557
@itzAki07 Thanks for reporting this. Input type number cannot be supported because it will not allow non-numeric characters which may be the part of a format. Hope this helps! Let me know if I can help with any other queries around it. Thanks! 🙂

[2021-06-26 17:14] s-yadav commented on #557
This is intentional, IOS numeric mode does not allow you to enter , and .
https://github.com/s-yadav/react-number-format/pull/409

[2021-06-26 17:23] s-yadav commented on #455
@BrianValente how to distinguish between if user has typed trailing 0s or the 0s came from setting fixedDecimalScale prop to true? When the user has typed 0s we shouldn't be removing that, and because of this use-case, we can't reset when fixedDecimalScale is toggled from true to false.

[2021-06-27 11:11] Abolfazl2647 opened #558 "Rounding number values when showing in input field"
#### Describe the issue and the actual behavior

#### Describe the expected behavior
when i set the value of the input to 0.07113999 the value inside of the input will be 0.07114.
i use the simple input and everythigns fine.

#### Provide a CodeSandbox link illustrating the issue

#### Provide steps to reproduce this issue

#### Please check the browsers where the issue is seen
- [ ] Chrome
- [ ]

[2021-07-02 05:42] nikhil-varma commented on #558
@Abolfazl2647 Thanks for reporting. Rounding is one of the expected behaviours but to understand your context even better please provide a codesandbox link to further investigate the issue. Thanks! 🙂

[2021-07-08 21:52] pavankjadda commented on #264
But `onChange` has formatted value not the original value. I don't think your example addresses the actual issue.

[code]

[2021-07-09 11:33] doksel opened #562 "Don't work hot keys ctrl+z"
#### Describe the issue and the actual behavior

#### Describe the expected behavior

#### Provide a CodeSandbox link illustrating the issue

#### Provide steps to reproduce this issue

#### Please check the browsers where the issue is seen
- [ ] Chrome
- [ ] Chrome (Android)
- [ ] Safari (OSX)
- [ ] Safari (iOS)
- [ ] Firefox
- [ ] Firefox (Android)

[2021-07-09 11:34] doksel commented on #562
Doesn't return the previous value when clicking on ctrl + z

[2021-07-13 21:34] gabrielliwerant commented on #383
I had a similar issue using react-testing-library and jest, and I was able to work around it by using one of my local build files (not the es module formatted one, but the babel transpiled `exports.default` version). It's not an ideal workaround, obviously, and it depends on having locally transpiled modules you can use.

[2021-07-18 12:22] #557 closed

[2021-07-18 18:09] nikhil-varma commented on #555
Closing this issue based on the previous reply. Please feel free to open this or post your queries in case you need any help! Thank you for your patience 🙂

[2021-07-18 18:09] #555 closed

[2021-07-18 18:12] nikhil-varma commented on #537
Closing this issue due to inactivity. Please feel free to open this up in case of any queries or help required. Thanks!

[2021-07-18 18:12] #537 closed

[2021-07-22 19:54] juanvl commented on #366
Appreciate all the info on this issue guys. I've managed to create my own solution.

I didn't have time yet to optimize this code, but I think it can help someone.

I'm using Material UI + Typescript, and I created this InputCurrency component:

[code]

You can use it like a normal TextField of Material UI:

[code]

[2021-07-23 11:07] jersrej commented on #264
I had quite the same problem with `onChangeValue` vs `onChange` and had to use onChange wherein the value is being stripped so the value won't return as the formatted one, others might take it as a weird solution but my scenario is when `input1` is being changed or typed into, the `input2` will also change but without typing and just setting a value depending on the formula and that's vice versa,

[2021-07-23 11:10] R4DIC4L commented on #554
Any findings about this item @nikhil-varma?

[2021-07-23 11:13] nikhil-varma commented on #554
@R4DIC4L Hey! first of all, apologies for the delay. Due to lot of work & issues in the pipeline I am still yet to investigate this. Please allow me few days to get to this. Thanks a lot for your patience.

[2021-07-24 18:26] gehres opened #567 "Impossible to type at the end, blocking the user to type"
When you click on the field, depending on where you click, the cursor position gets at the end of the field.
Using a currency format, it's impossible for the user to type at the end of the field, confusing them sometimes, thinking they can't change it.

Config used
[code]

The behavior expected was something like that:
https://cloud.githubusercontent.com/assets/333482/23334967/c7eff3fe-fb80-11e6-8

[2021-07-25 18:46] gehres commented on #567
I found a way with a workaround.
Maybe it can help somebody:
https://codesandbox.io/s/number-format-input-ey95k

[2021-07-25 18:49] gehres commented on #366
I found a way with a workaround.
Maybe it can help somebody:
https://codesandbox.io/s/number-format-input-ey95k

[2021-07-27 09:25] ca11ado commented on #369
On current moment I have to show one input before focus (without mask) and replace it with second input on focus (with mask). A little bit frustrating :(

[2021-08-04 07:02] alang79 commented on #264
There is a slight difference between:
a) User is making a change to a state property via the UI
b) Application is intializing values from persisted data

In case of a) I expect the app to invoke the "change event" but in case of b) I do not expect the system to invoke the onChange event. For a) the corresponding data has been truly changed - for b) the data has not changed, the application is rend

[2021-08-05 05:11] amanopenxcell opened #570 "Disable Autofill suggestion by chrome"
I have set type as password how to disable autofill suggestion by chrome , I tried autoComplete="off" and few other methods but none seems working . Is there any work around this ?

[2021-08-07 13:13] Parsa-Sedigh commented on #521
A related issue is that when I specify `format` prop and `type="number"` I can't type into the input:
[https://codesandbox.io/s/material-demo-forked-s9ppr?file=/demo.tsx:1282-1295](example with material ui).
So as soon as I remove the type="number", everything works as expected.
Do I need to open a separate issue for this?

[2021-08-08 14:43] s-yadav commented on #521
@Parsa-Sedigh, as react-number-format operates on input only and has non-numeric format characters, `type="number"` will not work as the browser itself will not allow any format character to present in the input.

[2021-08-10 23:24] pschlette commented on #394
This has been an issue for my use case too - ideally a minus sign would only be accepted when entered at the start of a value. One concern with the current behavior is that users could unknowingly negate the value if they reach for the `0` key and accidentally tap the `-` in addition to the `0`.

Would adding a prop to `NumberFormat` that disables the sign-toggling behavior be an option?

[2021-08-12 08:36] PankajK-HnH opened #572 "decimalScale value is not removing when we press backspace key using keyboard"
I am using this package in our react js project for input number fields. my requirement is when the user type any number then automatically two decimal zeros are added after the number. this is working perfect but the issue is that when the user wants to remove the two decimal zero using the backspace key they are not able to remove, only cursor position is moving.

#### Provide steps to reproduce

[2021-08-17 00:00] davidbsoares commented on #552
@nikhil-varma solution is not working. I can't type more digits than the CPF mask supports, thus CNPJ's mask doesn't even appear

[2021-08-19 11:09] R4DIC4L commented on #554
Did you have time to look into this, @nikhil-varma?

[2021-08-19 15:00] Tronglx commented on #264
Same issue, if using a format library and then cannot get original value, it will be useless. Have anyone suggest another solution or library?

[2021-08-22 10:54] mgolkardev opened #573 "customNumerals with format not working!"
Hi,

Please change removePatternFormatting function and use customNumerals like:

[code]
Thanks a lot.

[2021-08-24 15:30] huntedman commented on #570
I have the same issue. I'll try to investigate

[2021-08-25 14:34] Findiglay commented on #557
While I understand the issue here, I feel like disabling numeric mode presents a UX issue.

[2021-08-27 00:32] sheggietyn opened #574 "This Package does not work for React Native"
i was able to get this package installed in my react native app project but it not working when I try

all I get is some error

does anyone know any package I can use

[2021-08-30 09:23] theMasix commented on #574
https://github.com/s-yadav/react-number-format/issues/17

[2021-08-30 14:40] mahmutfurkankara commented on #276
It has been 2 years, this is important and should be fixed.

[2021-08-31 03:59] linhtv97 commented on #276
+1

[2021-08-31 05:00] nmaddp1995 commented on #276
Currently, I clone this component to my project and custom props by myself. Hope it can get fix in soon

[2021-08-31 21:42] stemmler commented on #440
I am experiencing this issue as well now. Are there any suggested work-arounds?

[2021-09-01 15:32] nicosommi opened #576 "Convenient change for Chile locale"
#### Describe the issue and the actual behavior

The issue is specific with Chile or any other country that decides not to use decimal places in currencies.
In those cases, an accidental collision with the thousand and the decimal delimiters happens and the component throws an error.

How to check this is true?
Run this in any browser:
const chile = new Intl.NumberFormat("es-CL", { currency: "CLP"

[2021-09-15 12:22] StanislavZaborkin commented on #574
If you only need to display a value, you can just wrap it in View and use renderText prop. But I do not think you can use it like an ordinary text input.

`<View>
      <NumberFormat
        value={value}
        prefix={prefix}
        suffix={suffix}
        displayType="text"
        fixedDecimalScale={fixedDecimalScale}
        thousandSeparator={thousandSeparator}
        decimalScale={decima

[2021-09-16 06:40] cblanquera commented on #380
Used this package recently because material ui docs are referencing this so I thought, why not... Anyways if you need for min and max, I found this in this project's code.

https://github.com/s-yadav/react-number-format/blob/master/src/number_format.js#L467-L500

So a work around (not an ultimate solution) could be something like this.

[code]

[2021-09-17 04:51] SanjivG10 commented on #197
I did this.
`<NumberFormat
            placeholder="0.00"
             decimalSeparator="."
             decimalScale={2}
            maxLength={8}
           format={rightToLeftFormatter}`

` const rightToLeftFormatter = (value: string) => {
    if (!Number(value)) return '';

    let amount = '';
    if (amount.length > 2) {
      amount = parseInt(value).toFixed(2);
    } else {
      amount =

[2021-09-19 15:06] BrunoEleodoro commented on #567
@gehres saved my day, thanks!!

[2021-09-22 14:53] macarthurjd commented on #573
Any update on this issue?

[2021-09-22 22:04] dylancrockett commented on #422
Since this still has not been fixed I figured I would share the solution I came up with in a project I am currently working on. I hope this will be fixed soon but in the meantime I figured I would share what I managed to come up with.

Here it is:
[code]

The NumberTextField can be used in place of the NumberFormat component and will accept all props for both the NumberFormat component & TextField

[2021-09-23 15:56] Olga-5 opened #578 "PropTypes warning when using customInput as mui TextField"
#### Describe the issue and the actual behavior
The field customInput throws a proptype warning when the component passed uses material ui's TextField, because those are objects, not functions.

Failed prop type: Invalid prop `customInput` of type `object` supplied to `NumberFormat`, expected `function`.

#### Describe the expected behavior

#### Provide a CodeSandbox link illustrating the issue

[2021-09-23 19:39] PavelZhuravlev commented on #361
+1

[2021-09-26 16:27] nikhil-varma commented on #554
@R4DIC4L Apologies. Have been having very hectic days so couldn't get to this. Please allow me some more time to get this. Apologies again! Appreciate your patients and consideration.

[2021-09-27 05:27] glaucoheitor commented on #491
I second this.

@croraf Were you able to find a workaround this? Thanks!

[2021-09-27 11:51] croraf commented on #491
You can remove the prefix and append it separately from the library.

But I would like this to be fixed, and it is pretty important.

[2021-09-27 18:59] glaucoheitor commented on #491
What I did to fix was:

- check if negative before and append the '-' sign to the prefix variable
- pass the value with `Math.abs(value)`.

[2021-09-30 09:23] flexbox commented on #574
Hey @sheggietyn
I successfully created a component with `react-native`
here is an example:
[code]

If your problem is solved can you please close the issue?
It sparks joy for maintainers ✨

[2021-10-02 11:45] straxico opened #579 "Move cursor when use customNumerals"
#### Describe the issue and the actual behavior

#### Describe the expected behavior

https://user-images.githubusercontent.com/6344893/135714646-b9883bc4-44e6-4d88-ac9e-3cc2ddafd0c9.mp4

#### Provide a CodeSandbox link illustrating the issue
https://codepen.io/straxico/pen/BaZEPNM
#### Provide steps to reproduce this issue
start type with persian character
#### Please check the browsers where the

[2021-10-02 11:47] straxico commented on #579
@electather have any idea?

[2021-10-02 15:07] leopard-dev commented on #579
@straxico I'm glad my contribution helped you with your project. I had to re-read the whole thing to figure out the problem. but it was an easy fix.
I created the MR with the fix and the rest is up to the maintainer.

[2021-10-02 15:20] electather commented on #579
@straxico I'm glad my contribution helped you with your project. I had to re-read the whole thing to figure out the problem. but it was an easy fix.
I created the MR with the fix and the rest is up to the maintainer.

[2021-10-03 16:10] s-mahdi commented on #573
Here is the [example](https://codesandbox.io/s/farsi-input-0q3vx) for this issue.
I'm trying this on Farsi (Persian) keyboard.

[2021-10-05 19:49] sheggietyn commented on #574
Thanks @flexbox

it solved the issue

[2021-10-05 19:49] #574 closed

[2021-10-06 08:08] andrei10k commented on #404
from the docs: `onValueChange is not same as onChange. It gets called on whenever there is change in value which can be caused by any event like change or blur event or by a prop change. It no longer receives event object as second parameter.`

so instead of onValueChange use onChange and it will behave as you expect.

[2021-10-10 03:22] s-yadav commented on #159
This one is sloved.

[2021-10-10 03:22] #159 closed

[2021-10-10 05:40] salahy opened #582 "Render number with decimal"
Hello,
I have in my database numbers stored with the decimal, for example: 1,000.55 is stored as 100055 in my database, how I can render using react-number-format to 1,000.55 ??

Thanks

[2021-10-10 17:41] coulgreer commented on #582
I believe that react-number-format does not have that kind of flexibility out of the box unless you explicitly press the decimal key to denote decimal values. That said we can still splice in a decimal character to help move us along while still leveraging the NumberFormat component.

I have an example solution here that you  can play around with to see if it fits your needs. https://codesandbox.i

[2021-10-10 22:18] coulgreer opened #583 "[Proposal] The Allowance of Explicit Magnitude"
## Describe the issue and the actual behavior
As of current, a negative sign is allowed to be displayed, however, a positive sign cannot be displayed. Although it may seem niche or uncommon, I believe that this library can benefit from more flexibility in the form of allowing the user to explicitly express the magnitude of a number. I believe that the library should allow the user to freely expres

[2021-10-18 16:24] mocxi opened #584 "Support vn currency locale"
Hello team,

Could you please add support format for vn currency?
The thousand separator is `.` and decimal point is `,` (I can use `decimalSeparator=","`, but it's conflicted with  thousandSeparator)

Example: 1.200.300,12345

Thanks

[2021-10-21 02:19] fxlemire opened #586 "How to allow extensions in phone numbers"
### Discussed in https://github.com/s-yadav/react-number-format/discussions/585

<div type='discussions-op-text'>

<sup>Originally posted by **fxlemire** October 20, 2021</sup>
Hi,

First of all thanks for this package, it's really great!

I love the UX of `<NumberFormat allowEmptyFormatting format="+1 (###) ###-####" _mask="_" type="tel" />`. However, I've noticed that when using format, it then

[2021-10-25 12:07] DekelYossef opened #587 "Listen to input changes event only, while retaining access to the raw values in the callback"
Hi,

I'm trying to listen to user changes explicitly, and not to every value change due other event types or prop changes, and to get the `values.value` or `values.floatValue` in a callback for easy parsing and handling.

What would be the right way to do so?

Since I can't access the event object in `onValueChange`, and can't find out what's the source of the `onValueChange` which   gets triggere

[2021-11-01 09:30] puru0019 commented on #542
Any update on this bug?

@s-yadav

[2021-11-01 09:33] puru0019 commented on #429
@s-yadav
Can you give some example with code in some online editors like code sandbox?

[2021-11-02 05:54] Enlitened opened #588 "allowLeadingZeros should not allow leading zeros"
#### Describe the issue and the actual behavior
Setting allowLeadingZeros only removes the leading zeros when focus is lost.

#### Describe the expected behavior
Setting allowLeadingZeros should not allow leading zeros (similar to allowNegative). This interferes with a defaultValue of '0', the leading zero is never cleared.

[2021-11-03 03:44] s-yadav commented on #588
defaultValue is something that can be looked into. But while typing leading zero is indeed needed. For instance, you typed 1000002, then you want to delete the first char (1) and update it to (2). If we clear it while the user is in focus. It would create a usability issue.

[2021-11-03 03:49] s-yadav commented on #429
This 2nd argument thing is not added till now. But can be added.

[2021-11-03 03:57] s-yadav commented on #587
Humm, the reason we don't want to do it onChange is that, onChange doesn't get called on all cases. Like value can change due to multiple source, prop change, input change, blur. so onChange might not receive all the updates. Also changing the semantic of onChange shouldn't be done.

But I think we can add the source information in the second param of onValueChange, like mentioned it
https://githu

[2021-11-03 03:57] s-yadav commented on #587
@nikhil-varma, can you look into this.?

[2021-11-03 03:58] nikhil-varma commented on #587
@s-yadav sure!

[2021-11-03 04:51] Enlitened commented on #588
Would it be possible to separate this into two settings - **allowLeadingZeros** and **removeLeadingZeros**? allowLeadingZeros = false would not allow you type the first character as a zero, removeLeadingZeros would remove the zeros when focus is lost.

[2021-11-03 06:16] s-yadav commented on #588
IMO not allowing typing breaks the UX, and not in favour of providing a breaking behaviour prop, given that it gets consistent with what the user is expecting at the end without preventing them to do something. (Here by user I refer to end-user)

[2021-11-03 19:13] thiagofernando opened #589 "Material 5 - initial value doesnt mark focus"
#### Describe the issue and the actual behavior
By upgrading from MUI4 to MUI5, preloaded values are not sensitizing the focus.

#### Describe the expected behavior
when saving the initial value, the focus should be set to true

#### Provide a CodeSandbox link illustrating the issue
https://codesandbox.io/s/react-hook-form-react-number-format-mui-5-6jg6f?file=/src/index.js

#### Provide steps to r

[2021-11-03 22:48] Enlitened commented on #588
Is it not the same functionality as **allowNegative** - it also prevents the user from typing a minus? I just think that not allowing leading zeros would be a very common use case - basically any currency input with formatting would use it. As it is now, it will still format currency with zeros in front, that seems incorrect?

[2021-11-04 08:02] fmirjalili opened #590 "Update input value with button"
#### Describe the issue and the actual behavior
Changing the input state with buttons doesn't update the input value.
#### Describe the expected behavior

I trace the code and in **_updateValueIfRequired_** function when _**focusedElm**_ is undefined, it's not checked for undefined and only null value checked.

[2021-11-04 16:29] willchris2 commented on #589
I noticed that inputRef is undefined when using MUI5 with react-number-format.
I think thats the reason why the label is overlapping with the values.
Maybe that is causing your problem as well.

I cant find a fix for getting the ref and therefore there is always the overlapping with the label